{% extends 'wiki/wiki_base.html' %}
{% load wiki_custom_tags %}
{% block content %}
<h1> Wiki Homepage </h1>
{% if user.is_authenticated %}
<h3> <a class="btn btn-default" href = "{% url 'wiki:wiki-new' %}"> Create new wiki </a> </h3>
{% else %}
<a class="btn btn-default btn-xs" href="{% url 'users:login' %}"> log in </a> to create new wiki. 
{% endif %}

<hr>

{% if wiki_list %}
{% for wiki in wiki_list %}
{% show_wiki_tab wiki %}
{% endfor %}
{% else %}
<p> no wiki available </p>
{% endif %}


{% endblock content %}
