{% extends 'wiki/wiki_base.html' %}

{% block head %}
{% load staticfiles %}
{% load util_custom_tags %}
{% load tag_custom_tags %}
{% load wiki_custom_tags %}
{% endblock head %}


{% block wiki-article %}
  <li class="active"> <a href="{% url 'wiki:wiki-detail' page.get_title %}"> Article </a> </li>
{% endblock wiki-article %}


{% block wiki-content %}
<!-- header section -->

  <div class="clearfix">
  {% if page.comments.count > 0 %}
  <div class="alert alert-warning"> 
    {% show_wiki_comment_warning page.comments.all %}
    </div>
  {% endif %}
    <h1 class="wiki-title" title={{page.title}}>{{page.title}} {% if page.software %} <small>&lt;<a title="this is a software" href="{% url 'software:software-detail' page.software.name %}">software</a>&gt;</small>{% endif %} 
    {% if page.wiki_tag %} <small>&lt;<a title="this is also a tag" href="{% url 'tags:tag-detail' page.wiki_tag.name %}?tab=Summary">tag</a>&gt;</small>{% endif %}
        </h1>
        
        {% display_tag_list page.tags.all %}
  </div>

<div class="vote-box pull-left">
    {% display_bookmark_widget page user %}
</div>

{{page.current_revision.get_marked_up_content|safe}}

<hr>
<p> last modified: {{page.current_revision.modified_date}} </p>

{% endblock wiki-content %}

{% block jquery %}
  <script src="{% static 'jquery/vote_widget.js' %}"> </script>
  <script src="{% static 'jquery/wiki.js' %}"> </script>

{% endblock jquery %}
