{% extends 'wiki/wiki_base.html' %}

{% block head %}
{% load staticfiles %}
{% load util_custom_tags %}

<script src="{% static 'jquery/vote_widget.js' %}"> </script>
{% endblock head %}

{% block content %}
<!-- header section -->
<div>
  {% display_vote_widget page user %}
  <div>  
    <h1 class="wiki-title"> {{page.title}} <a href = "{% url 'wiki:wiki-edit' page.get_title %}"> (Edit) </a>
     <a href = "{% url 'wiki:wiki-history' page.get_title %}"> (History) </a>
    </h1>
    <div id="tags-banner">
      {% for tag in page.tags.all %}
        <a class="tags" href = "{% url 'tags:tag-detail' tag.id %}" > {{tag}} </a>
      {% empty %}
        None 
      {% endfor %}
    </div>
  </div>
</div>

<p> {{ page.get_marked_up_content|safe }} </p>

<p> last modified: {{ page.current_revision.modified_date }} </p>
<hr>

{% for comment in comment_list %}
  Comment {{forloop.counter}}: {{ comment.content }}     -{{comment.last_modified}} <br><hr>
{% empty %}
No comments 
{% endfor %}
<button type='button' onclick='location.href="{% url 'comment-new' comment_on="wiki" pk=page.id %}"' > Add comment </button>
<p> <a href = "{% url 'wiki:wiki-index' %}"> Go back to wiki homepage</a> </p>

{% endblock content %}
