{% extends 'wiki/wiki_base.html' %}

{% block wiki-dropdown %}
History
{% endblock wiki-dropdown %}
{% block wiki-history %}
  <li class="active pull-right"> <a href="{% url 'wiki:wiki-history' page.get_title %}"> History </a> </li>
{% endblock wiki-history %}


{% block wiki-content %}
<h1> {{revision_list.0.page.title}}: Revision history </h1>

{% if revision_list %}
<ul class="list-unstyled"> 
  {% for revision in revision_list %}
  <li> 
    <a href= "{% url 'wiki:wiki-diff' revision.id %}" >{{ revision.modified_date }} </a>
    by <a href="{% url 'users:profile-view' revision.author.user_profile.id %}"> 
    {{revision.author.user_profile.name}} </a>     
    ({{revision.total_chars}} bytes) 
    (
    {% if revision.added_chars > 0 %}
    <span class="ins">+{{revision.added_chars}}</span> 
    	{% if revision.deleted_chars > 0 %}
    		/
    	{% endif %}
    {% endif %}
    {% if revision.deleted_chars > 0 %}
    <span class="del">-{{revision.deleted_chars}}</span>
    {% endif %}
    )
  </li>
{% endfor %}
</ul>
{% else %}
<p> no revision history available </p>
{% endif %}
<hr>
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class='btn btn-xs btn-default' href="{% url 'wiki:wiki-history' revision_list.0.page.get_title %}?page={{ page_obj.previous_page_number }}">Prev</a>
                {% endif %}
                <span class="page-current">
                    Page <b>{{ page_obj.number }}</b> of <b>{{ page_obj.paginator.num_pages }}</b>.
                </span>
                {% if page_obj.has_next %}
                    <a class='btn btn-xs btn-default' href="{% url 'wiki:wiki-history' revision_list.0.page.get_title %}?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
                <form action="" class="pagination-form" method="get">  <input type="text" size="1" name="page" placeholder="1"> <input style="display:none" type="text" size="1" name="tab" value="{{tab}}"> <input type="submit" class="btn btn-default btn-xs" value="Go">
                </form>
            </span>
        </div>
    {% endif %}
    
    {% endblock wiki-content %}
