{% extends 'wiki/wiki_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'lib/pagedown/demo.css'%}" />
        <script type="text/javascript" src="{% static 'lib/pagedown/Markdown.Converter.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/pagedown/Markdown.Sanitizer.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/pagedown/Markdown.Editor.js' %}"></script>
{% endblock head %}

{% block jquery %}
<script src="{% static 'jquery/preview_markdown.js' %}"> </script>
{% endblock jquery %}

{% block wiki-edit %}
  <li class="active pull-right"> <a href="{% url 'wiki:wiki-edit' page.get_title %}"> Edit </a> </li>
{% endblock wiki-edit %}

{% block wiki-content %}

<form action = "" method="post"> 

{% csrf_token %}
{% crispy form %}
</form>
<hr>
<div id="preview-mkd-text"class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
{% include "utils/preview_markdown.html" with mkd_content=mkd_content %}
</div>

<script type="text/javascript">
            (function () {
                var converter1 = Markdown.getSanitizingConverter();
                
                converter1.hooks.chain("preBlockGamut", function (text, rbg) {
                    return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                        return "<blockquote>" + rbg(inner) + "</blockquote>\n";
                    });
                });
                
                var editor1 = new Markdown.Editor(converter1);
                
                editor1.run();
                })();
               </script>
               
{% endblock wiki-content %}
