{% extends 'base.html' %}
{% block content %}
<h1> Wiki Title: {{page.title}} <a href = "{% url 'wiki:wiki-edit' page.id %}"> (Edit) </a>
     <a href = "{% url 'wiki:wiki-history' page.id %}"> (History) </a>
</h1>

<h3> tag: 
{% for tag in page.tags.all %}
<a href = "{% url 'tags:tag-detail' tag.id %}" > {{tag}} </a>
{% empty %}
None 
{% endfor %}
 </h3>
 
<h3> content:</h3>
<p> {{ page.current_revision.content }} </p>
<p> last modified: {{ page.current_revision.modified_date }} </p>
<hr>

{% for comment in comment_list %}
  Comment {{forloop.counter}}: {{ comment.content }}     -{{comment.last_modified}} <br><hr>
{% empty %}
No comments 
{% endfor %}
<button type='button' onclick='location.href="{% url 'comment-new' comment_on="wiki" pk=page.id %}"' > Add comment </button>
<p> <a href = "{% url 'wiki:wiki-index' %}"> Go back to wiki homepage</a> </p>

{% endblock content %}
