{% extends 'wiki/wiki_base.html' %}

{% load user_custom_tags %}
{% load staticfiles %}

{% block wiki-contributors %}
    <li class="pull-right active"> <a href="{% url 'wiki:wiki-contributors' page.get_title %}"> Contributors </a> </li>
{% endblock wiki-contributors %}
    
{% block wiki-content %}
<h1> User contibutions </h1>
<hr>
<ul class="list-unstyled">
{% for userpage in userpage_list %}
<li> {% display_user_xs userpage.user %} <span class="ins">+{{userpage.added}}</span> / <span class="del">-{{userpage.deleted}}</span> / <span><b>{{userpage.edits}} edit{% if userpage.edits > 1%}s{%endif%} </b></span> <span class="btn btn-default btn-xs userpage-collapse">expand</span>
<ul style="display:none;"> 
{% for revision in userpage.revisions.all reversed %}
 <li> 
 <a href= "{% url 'wiki:wiki-diff' revision.id %}" >Revision {{revision.revision_number}}  </a>
   {{ revision.modified_date }}
         
    ({{revision.total_chars}} bytes) 
    (
    {% if revision.added_chars > 0 %}
    <span class="ins">+{{revision.added_chars}}</span> 
    	{% if revision.deleted_chars > 0 %}
    		/
    	{% endif %}
    {% endif %}
    {% if revision.deleted_chars > 0 %}
    <span class="del">-{{revision.deleted_chars}}</span>
    {% endif %}
    )
 </li>
 {% endfor %}
</ul>
</li> 
{% endfor %}
</ul>
{% endblock wiki-content %}



{% block jquery %}
  <script src="{% static 'jquery/wiki.js' %}"> </script>
{% endblock jquery %}