{% extends 'wiki/wiki_base.html' %}

{% block wiki-history %}
  <li class="active pull-right"> <a href="{% url 'wiki:wiki-history' page.get_title %}"> History </a> </li>
{% endblock wiki-history %}


{% block wiki-content %}
<h1> {{revision_list.0.page.title}}: Revision history </h1>

{% if revision_list %}
<ul> 
  {% for revision in revision_list %}
  <li> 
    <a href= "{% url 'wiki:wiki-diff' revision.id %}" >{{ revision.modified_date }} </a>
    by <a href="{% url 'users:profile-view' revision.author.user_profile.id %}"> 
    {{revision.author.user_profile.name}} </a>     
    ({{revision.total_chars}} bytes) 
    (
    {% if revision.added_chars > 0 %}
    <span class="ins">+{{revision.added_chars}}</span> 
    	{% if revision.deleted_chars > 0 %}
    		/
    	{% endif %}
    {% endif %}
    {% if revision.deleted_chars > 0 %}
    <span class="del">-{{revision.deleted_chars}}</span>
    {% endif %}
    )
  </li>
{% endfor %}
</ul>
{% else %}
<p> no revision history available </p>
{% endif %}
<hr>
<p> <a href = "{% url 'wiki:wiki-contributors' revision_list.0.page.get_title %}"> See user contribution</a> </p>
{% endblock wiki-content %}
