{% extends 'wiki/wiki_base.html' %}
{% load wiki_custom_tags %}
{% block head %}
{% endblock head %}

{% block wiki-comment %}
  <li class="active"> <a href="{% url 'wiki:wiki-comment' page.get_title %}"> Comment 
    <span class="badge"> {{page.comments.count}}</span></a> </li>
{% endblock wiki-comment %}

{% block wiki-content %}
<br><br>
{% for comment in comment_list %}
{% show_comment_dialog comment user %}
{% endfor %}
<br>
<hr>
<br>
<h4> Add your comment:</h4>
<form action="{% url 'wiki:wiki-comment-add' page.get_title%}" method="POST" role="form">
{% csrf_token %}
<!--
Status: 
<select class="input-xs" id="id_status" name="status">
<option value="0" selected="selected">initialized</option>
<option value="1">in progress</option>
<option value="2">close pending</option>
</select>
-->
Type: 
<select class="input-xs" id="id_issue" name="issue">
<option value="">---------</option>
<option value="0">fix spelling and gramma</option>
<option value="1" selected="selected">fix wikilink</option>
<option value="2">expand short article</option>
<option value="3">check reference</option>
<option value="4">add reference</option>
<option value="5">add image</option>
<option value="6">Improve lead section</option>
<option value="7">add new information</option>
</select>
<br>
Details: 
<textarea class="form-control" id="id_detail" name="detail"></textarea>
<br>
<input class="btn btn-sm btn-default" type="submit" value="Submit" class="default" name="_save">
</form>

{% endblock wiki-content %}
