{% extends 'wiki/wiki_base.html' %}
{% load wiki_custom_tags %}
{% load staticfiles %}
{% block content %}
<h1> OMICS wiki <small> x{{page_total}} <a href="{% url 'wiki:wiki-list' %}">view all</a></small> </h1>
{% if user.is_authenticated %}
 <a class="btn btn-default" href = "{% url 'wiki:wiki-new' %}"> Create new wiki </a> 
{% else %}
<a class="btn btn-default btn-xs" href="{% url 'users:login' %}?next={{request.path}}"><img src="{% static 'icons/enter3.png' %}"> log in </a> to create new wiki. 
{% endif %}


<div class="row">
   <div class="section-tab col-sm-6">
    <h3> <a href="{% url 'wiki:wiki-list'%}?tab=Bookmark">Most liked </a></h3>
    <ul class="list-unstyled">
    {% for wiki in bookmark %}
        <li>{% show_wiki_tab wiki %}</li>
    {% endfor %}
    </ul>
   </div>
  <div class="section-tab col-sm-6">
    <h3> <a href="{% url 'wiki:wiki-list'%}?tab=View">Most viewed </a></h3>
    <ul class="list-unstyled">
    {% for wiki in view %}
        <li>{% show_wiki_tab wiki %}</li>
    {% endfor %}
    </ul>
  </div>
  <div class="section-tab col-sm-6">
    <h3> <a href="{% url 'wiki:wiki-list'%}?tab=Comment">Need work</a></h3>
    <ul class="list-unstyled">
    {% for wiki in comment %}
        <li>{% show_wiki_tab wiki %}</li>
    {% endfor %}
    </ul>
   </div>
<div class="section-tab col-sm-6">
    <h3> <a href="{% url 'wiki:wiki-revision-list'%}">Recent changes</a></h3>
    <ul class="list-unstyled">
    {% for revision in update %}
        <li>{% show_wiki_revision_tab revision %}</li>
    {% endfor %}
    </ul>
   </div>
</div>

    
{% endblock content %}
