{% extends 'wiki/wiki_base.html' %}
{% load wiki_custom_tags %}
{% block content %}
<h1> Wiki revision histories <small>( {{page_obj.paginator.count}} entries)</small></h1>
<ul class="list-unstyled">
{% for revision in revision_list %}
    <li> {% show_wiki_revision_tab revision %} </li>
{% endfor %}

</ul>

 {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class='btn btn-xs btn-default' href="{% url 'wiki:wiki-revision-list' %}?page={{ page_obj.previous_page_number }}">Prev</a>
                {% endif %}
                <span class="page-current">
                    Page <b>{{ page_obj.number }}</b> of <b>{{ page_obj.paginator.num_pages }}</b>.
                </span>
                {% if page_obj.has_next %}
                    <a class='btn btn-xs btn-default' href="{% url 'wiki:wiki-revision-list' %}?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
                <form action="" class="pagination-form" method="get">  <input type="text" size="1" name="page" placeholder="1"> <input style="display:none" type="text" size="1" name="tab" value="{{tab}}"> <input type="submit" class="btn btn-default btn-xs" value="Go">
                </form>
            </span>
        </div>
    {% endif %}
    
{% endblock content %}