{% extends 'base.html' %}

{% block sidebar-wiki %} 
  <li class="active"><a href= "{% url 'wiki:wiki-index' %}" > Wiki </a> </li>
{% endblock sidebar-wiki %}

{% block content %}
<div class="nav-tabs-dropdown dropdown">
  show <button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     {% block wiki-dropdown %} {% endblock wiki-dropdown %}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'wiki:wiki-detail' page.get_title %}">Article</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'wiki:wiki-comment' page.get_title %}"> Comment <span class="badge"> {{page.get_active_comment_count}}</span></a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'wiki:wiki-edit' page.get_title %}"> Edit</a></li>

    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'wiki:wiki-history' page.get_title %}"> History</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'wiki:wiki-contributors' page.get_title %}"> Contributors</a></li>
  </ul>
</div>

  <ul class="nav nav-tabs">
    {% block wiki-article %}
    <li> <a href="{% url 'wiki:wiki-detail' page.get_title %}"> Article </a> </li>
    {% endblock wiki-article %}
    {% block wiki-comment %}
    <li> 
     <a href="{% url 'wiki:wiki-comment' page.get_title %}">  Comment <span class="badge"> {{page.get_active_comment_count}}</span></a> 
    </li>
    {% endblock wiki-comment %}
   
    {% block wiki-contributors %}
    <li class="pull-right"> <a href="{% url 'wiki:wiki-contributors' page.get_title %}"> Contributors </a> </li>
    {% endblock wiki-contributors %}
    {% block wiki-history %}
    <li class="pull-right"> <a href="{% url 'wiki:wiki-history' page.get_title %}"> History </a> </li>
    {% endblock wiki-history %}
    {% block wiki-edit %}
    <li class="pull-right"> <a href="{% url 'wiki:wiki-edit' page.get_title %}"> Edit </a> </li>
    {% endblock wiki-edit %}

  </ul>

  <div id="wiki-content">
    {% block wiki-content %}
    {% endblock wiki-content %}
  </div>

{% endblock content %}
