{% extends 'wiki/wiki_base.html' %}
{% load wiki_custom_tags %}
{% load user_custom_tags %}
{% load staticfiles %}

{% block head %}
{% endblock head %}
{% block wiki-dropdown %}
Comment
{% endblock wiki-dropdown %}
{% block wiki-comment %}
  <li class="active"> <a href="{% url 'wiki:wiki-comment' page.get_title %}"> Comment 
    <span class="badge"> {{page.get_open_comment.count}}</span></a> </li>
{% endblock wiki-comment %}

{% block wiki-content %}
<br>
{% if open_comment_list.count > 0 %}
<div class="wiki-comment-fence">
<p class='wiki-comment-open'> <b> {{page.get_open_comment.count}} OPEN:</b> </p>
{% for comment in open_comment_list %}
{% show_comment_dialog comment user %}
{% endfor %}
</div>
{% endif %}
{% if pending_comment_list.count > 0 %}
<div class="wiki-comment-fence">
<p class='wiki-comment-pending'> <b>{{page.get_pending_comment.count}} PENDING:</b> </p>
{% for comment in pending_comment_list %}
{% show_comment_dialog comment user %}
{% endfor %}
</div>
{% endif %}

{% if closed_comment_list.count > 0 and user.is_moderator %}
<div class="wiki-comment-fence">
<p class='wiki-comment-closed'> <b>{{page.get_closed_comment.count}} CLOSED: </b> closed tickets</p>
{% for comment in closed_comment_list %}
{% show_comment_dialog comment user %}
{% endfor %}
</div>
{% endif %}
<hr>
{% if user.is_authenticated %}
<h4> Add your comment:</h4>
{% if not perms.wiki.add_pagecomment %} {% display_verification_message %}{% endif %}

<form action="{% url 'wiki:wiki-comment-add' page.get_title%}" method="POST" role="form">
{% csrf_token %}
<p><b> Type: </b> select the type of your comment.</p>
<div class="row">
  <div class="col-xs-12 col-sm-4">
<select class="form-control" id="id_issue" name="issue" {% if not perms.wiki.add_pagecomment %}disabled {%endif%}>
<option value="1">fix spelling and gramma</option>
<option value="2" >fix wikilink</option>
<option value="3">expand short article</option>
<option value="4">check reference</option>
<option value="5">add reference</option>
<option value="6">add image</option>
<option value="7">Improve lead section</option>
<option value="8">add new information</option>
<option value="0" selected="selected">other</option>
</select>
  </div>
</div>
<br>
<b>Details: </b>
<textarea class="form-control" id="id_detail" name="detail" {% if not perms.wiki.add_pagecomment %}disabled {%endif%}></textarea>
<br>
<input class="btn btn-md btn-primary" type="submit" value="Submit" class="default" name="_save">
</form>
{% else %}
<a class="btn btn-xs btn-default" href="{% url 'users:login' %}?next={{request.path}}"> <img src="{% static 'icons/enter3.png' %}" > log in </a> to add your comment. 
{% endif %}
{% endblock wiki-content %}
