{% extends 'posts/post_base.html' %}
{% load post_custom_tags %}
{% load user_custom_tags %}
{% load util_custom_tags %}
{% load humanize %}
{% load staticfiles %}
<!-- this is the link to edit the post. 
-->
{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'lib/pagedown/demo.css'%}" />
        <script type="text/javascript" src="{% static 'lib/pagedown/Markdown.Converter.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/pagedown/Markdown.Sanitizer.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/pagedown/Markdown.Editor.js' %}"></script>
{% endblock head %}

{% block content %}
<h1 class="post-title">{{mainpost.title}} <small>&lt;{{type}}&gt;
{% if user.is_authenticated %}
          <a class="btn btn-default btn-xs" href='{% url "posts:mainpost-edit" mainpost.id %}'>edit</a> {% endif %} </small> </h1>
<table class="post-table">
<tr>
<td>
{% display_blog_body mainpost user perms %}
<br>
<span class="display-none-mobile pull-left" style="font-size:18px"><b> {{mainpost.get_comments.count}} comment{%if mainpost.get_comments.count > 1%}s{% endif %}</b></span>
 
<div class="nav-tabs-dropdown dropdown">
  <b>{{mainpost.reply_count}} comment{%if mainpost.reply_count > 1%}s{% endif %}</b> sort by <button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    {{tab}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=votes">votes</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=oldest">oldest</a></li>

  </ul>
</div>

<ul class="nav nav-tabs right-to-left">
    <li {% ifequal tab "votes" %} class="active" {% endifequal %}
    {% ifequal tab null %} class="active" {% endifequal %}>
      <a href="?tab=votes"> votes </a> </li>
    <li {% ifequal tab "oldest" %} class="active" {% endifequal %}> 
      <a href="?tab=oldest"> oldest  </a> </li>
</ul>

<!-- comments -->    
    {% if comments.count > 0 %}
    <table class='blog-comment-table'>
      {% for comment in comments %}
      <tr>
      <td class='blog-comment-author' rowspan='2'> <a  href="{% url 'users:profile-view' comment.author.user_profile.id %}"> 
       <img class="profile-img-small" src='
        {% if comment.author.user_profile.portrait %} {{comment.author.user_profile.portrait.url}} 
        {% else %} {%static "images/user_default.png"%} 
        {% endif %}'></a></td>
        <td class='blog-comment-info'><a href="{% url 'users:profile-view' comment.author.user_profile.id %}"> {{comment.author.user_profile.name}}</a> &nbsp;<small>{{comment.last_modified|naturaltime}}</small>&nbsp;&nbsp;<span>{% display_vote_up comment user %} </span></td> 
      </tr>
      <tr>
        <td class="blog-comment-text"> {{comment.content}}  </td> 
        
      </tr>
      {% endfor %}
    </table>
    {% endif %}
    
<!-- add comment -->
{% if user.is_authenticated %}
   {% if user.exceed_new_comment_limit %}
   <h3> Add your comment: </h3>
          <div class="alert alert-warning">Sorry, you have exceeded your daily maximum number of comments. 
          </div>
   {% else %}
<h4> Add your comment: </h4>

{% if not perms.utils.add_comment %} {% display_verification_message %}<br><br> {% endif %}

<form role="form" action='{% url "comment-new" comment_on="posts" pk=mainpost.id %}' method="post">
{% csrf_token %}
<textarea class="form-control" id="id_content" name="content" rows="5" {% if not perms.utils.add_comment %} disabled{% endif %}> </textarea>
<br>
<input class="btn btn-default" type="submit" value="Post comment" {% if not perms.utils.add_comment %} disabled{% endif %}>
</form>
    {% endif %}
{% else %}
<br>
please <a href = "{% url 'users:login' %}" class="btn btn-xs btn-default"> <img src="{% static 'icons/enter3.png' %}" > log in </a>  to post a response 
{% endif %}
</td>
<td class="post-sidebar"> 
{% display_post_info mainpost %}

{% display_related_posts mainpost %}
 
</td>
</tr>
</table>
<!-- script for text input control panel -->

{% endblock content %}

{% block jquery %}
  <script src="{% static 'jquery/vote_widget.js' %}"> </script>
{% endblock jquery %}
