{% extends 'base.html' %}

<!--
<h2> <a href = "{% url 'posts:post-detail' mainpost.id%}"> Edit Post </a> </h2>
-->


{% block content %}
<h1> Title: {{mainpost.title}} <a href = '{% url "posts:mainpost-edit" mainpost.id %}'> (Edit) </a> </h1>

<h4> tag: 
{% for tag in mainpost.tags.all %}
<a href = "{% url 'tags:tag-detail' tag.id %}" > {{tag}} </a>
{% endfor %}
 </h4>
 
<h3> content:</h3>
<p> {{ mainpost.content }} </p>
<br>
<p> <i>creation_date: {{ mainpost.created }};
last_modified_date: {{mainpost.last_modified }} </i></p>
<hr>
{% for reply in replypost_list %}
    <a href = '{% url 'posts:replypost-delete' reply.id %}'> (Delete Reply) </a> 
    <p> {{reply.content}} </p>
    <p> <i>creation_date: {{ reply.created }};
    last_modified_date: {{reply.last_modified }} </i></p>
<hr>
{% empty %}
<p> No replies Yet</p>
<hr>
{% endfor %}

<p> <a href = '{% url "posts:replypost-new" mainpost.id%}'> Add new Reply </a> </p>
<hr>
<p> <a href = "{% url 'posts:post-index' %}"> Go back to post homepage</a> </p>


{% endblock content %}
