{% extends 'base.html' %}

<!--
<h2> <a href = "{% url 'posts:post-detail' mainpost.id%}"> Edit Post </a> </h2>
-->


{% block content %}
<h1> Title: {{mainpost.title}} <a href = '{% url "posts:mainpost-edit" mainpost.id %}'> (Edit) </a> </h1>

<h4> tag: 
{% for tag in mainpost.tags.all %}
<a href = "{% url 'tags:tag-detail' tag.id %}" > {{tag}} </a>
{% endfor %}
 </h4>

<h3> content:</h3>
<p> {{ mainpost.current_revision.content }} </p>
<br>
<p> <i>creation_date: {{ mainpost.created }};	
<!-- modification history --> last_modified_date: {{mainpost.last_modified }} </i></p>
{% for comment in mainpost.main_post_comments.all %}
  Comment {{forloop.counter}}: {{ comment.content }}     -{{comment.last_modified}} <br><hr>
{% empty %}
No comments 
{% endfor %}


<button type='button' onclick='location.href="{% url 'comment-new' comment_on="posts" pk=mainpost.id %}"' > Add comment </button>

<hr>
{% for reply in replypost_list %}
    <a href = '{% url "posts:replypost-edit" reply.id %}' > (Edit) </a>
    <a href = '{% url "posts:replypost-delete" reply.id %}'> (Delete) </a> 
    <p> {{reply.current_revision.content}} </p>
    <p> <i>creation_date: {{ reply.created }};
    last_modified_date: {{reply.last_modified }} </i></p>
    {% for comment in reply.reply_post_comments.all %}
      Comment {{forloop.counter}}: {{ comment.content }}     -{{comment.last_modified}} <br><hr>
    {% empty %}
    No comments 
    {% endfor %}

    <button type='button' onclick='location.href="{% url 'comment-new' comment_on="replyposts" pk=reply.id %}"' > Add comment </button>

<hr>
{% empty %}
<p> No replies Yet</p>
<hr>
{% endfor %}
<!-- add reply -->

{% if user.is_authenticated %}
<form action='{% url "posts:replypost-new" mainpost_id=mainpost.id %}' method="post">
{% csrf_token %}
<h3> Reply to this post:</h3>
<textarea rows='7' cols='80'  name="content"></textarea> <br>
<input type="submit" value="Post reply">
</form>
{% else %}
please <a href = "{% url 'users:login' %}"> log in </a> to post a response 
{% endif %}

<p> <a href = "{% url 'posts:post-index' %}"> Go back to post homepage</a> </p>


{% endblock content %}
