{% extends 'posts/post_base.html' %}
{% load post_custom_tags %}
{% load staticfiles %}
<!-- this is the link to edit the post. 
-->


{% block content %}
<h3> {{mainpost.title}}  </h3>
<hr>

{% display_post_body mainpost user "is_question"%}

<hr>
{% for reply in replypost_list %}

  {% display_post_body reply user "is_answer" %}
<hr>
{% endfor %}

<!-- add reply -->

{% if user.is_authenticated %}
<form role="form" action='{% url "posts:replypost-new" mainpost_id=mainpost.id %}' method="post">
{% csrf_token %}
<h4> Add your reply: </h4>
<textarea class="form-control" rows='5'  name="content"></textarea>
<br>
<input class="btn btn-default" type="submit" value="Post reply">
</form>
{% else %}
please <a href = "{% url 'users:login' %}"> log in </a> to post a response 
{% endif %}

{% endblock content %}

{% block jquery %}
  <script src="{% static 'jquery/vote_widget.js' %}"> </script>
{% endblock jquery %}
