{% extends 'base.html' %}

{% block sidebar-post %}
  <li class="active"><a href= "{% url 'posts:post-index' %}" > Post </a> </li>
{% endblock sidebar-post %}

{% block content %}
<h1> HomePage for posts</h1>

<h3> <a href = "{% url 'posts:post-new' %}"> Create new post here </a> </h3>
<hr>
<h2> Old posts: </h2>
<ul> 
    {% for post in post_list %}
    <li> 
        <a href= "{% url 'posts:post-detail' post.id %}" >{{ post.title }} </a>
<!--         | {{ post.content|truncatechars:60 }} 
-->
    </li>
{% empty %}
<p> No posts created yet.</p>
{% endfor %}
</ul>

{% endblock content %}
