{% extends 'posts/post_base.html' %}
{% load post_custom_tags %}
{% load user_custom_tags %}

{% load staticfiles %}
<!-- this is the link to edit the post. 
-->
{% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'lib/pagedown/demo.css'%}" />
        <script type="text/javascript" src="{% static 'lib/pagedown/Markdown.Converter.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/pagedown/Markdown.Sanitizer.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/pagedown/Markdown.Editor.js' %}"></script>
{% endblock head %}

{% block content %}

<h1 class="post-title">{{mainpost.title}} <small>&lt;{{type}}&gt;</small></h1>

<table class="post-table">
<tr>
<td> 
{% display_question_body mainpost user perms "is_question"%}
<span class="display-none-mobile pull-left" style="font-size:18px"><b> {{mainpost.reply_count}} answer{%if mainpost.reply_count > 1%}s{% endif %}</b></span>

 <div class="nav-tabs-dropdown dropdown">
  <b>{{mainpost.reply_count}} answer{%if mainpost.reply_count > 1%}s{% endif %}</b> sort by <button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    {{tab}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=votes">votes</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=oldest">oldest</a></li>

  </ul>
</div>
<ul class="nav nav-tabs right-to-left">
    <li {% ifequal tab "votes" %} class="active" {% endifequal %}
    {% ifequal tab null %} class="active" {% endifequal %}>
      <a href="?tab=votes"> votes </a> </li>
    <li {% ifequal tab "oldest" %} class="active" {% endifequal %}> 
      <a href="?tab=oldest"> oldest  </a> </li>
</ul>
{% for reply in replypost_list %}
    {% display_question_body reply user perms "is_answer" %}
{% endfor %}

<!-- add reply -->
{% if user.is_authenticated %}
    {% if user.exceed_new_answer_limit %}
        <h4> Add your answer: </h4>

          <div class="alert alert-warning">Sorry, you have exceeded your daily maximum number of answers. 
          </div>
    {% else %}  
         
<form role="form" action='{% url "posts:replypost-new" mainpost_id=mainpost.id %}' method="post">
{% csrf_token %}
<h4> Add your answer: </h4>
{% if not perms.posts.add_replypost %}  {% display_verification_message %} {% endif %}
<div class="row">
         <div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <textarea class="form-control" rows=5 id="wmd-input" name="content"  {% if not perms.posts.add_replypost %}disabled {%endif%}> </textarea>
            <br>
            <div id="content-string-count"></div>
         
            <input class="btn btn-default" type="submit" value="Post reply" {% if not perms.posts.add_replypost %}disabled {%endif%}>

        </div>
        
        </div>
</form>
    {% endif %}
{% else %}
please <a href = "{% url 'users:login' %}" class="btn btn-xs btn-default"> <img src="{% static 'icons/enter3.png' %}" > log in </a> to post a response 
{% endif %}
</td>
<td class="post-sidebar"> 
{% display_post_info mainpost %}

{% display_related_posts mainpost %}
 
</td>
</tr>
</table>
<!-- script for text input control panel -->
<script type="text/javascript">
            (function () {
                var converter1 = Markdown.getSanitizingConverter();
                
                converter1.hooks.chain("preBlockGamut", function (text, rbg) {
                    return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                        return "<blockquote>" + rbg(inner) + "</blockquote>\n";
                    });
                });
                
                var editor1 = new Markdown.Editor(converter1);
                
                editor1.run();
                })();
               </script>
               
{% endblock content %}

{% block jquery %}
  <script src="{% static 'jquery/vote_widget.js' %}"> </script>
  <script src="{% static 'jquery/post.js' %}"> </script>
{% endblock jquery %}
