{% extends 'meta/meta_base.html' %}
{% load meta_custom_tags %}

{% block head %}
{% endblock head %}

{% block content %}
  <h1> OmicsPedia <small>META</a> </h1>
  <p> place where you can comment and suggestions about this website</p>
{% if user.is_authenticated %}  
  <a class="btn btn-default" href="{% url 'meta:report-new' %}"> Make suggestions</a>
{% else %}
<p> Please 
 <a class="btn btn-default btn-xs" href="{% url 'users:login' %}?next={{request.path}}"> log in </a> 
 to leave your feedbacks and make suggestions to improve our community! </p>
  {% endif %}
<br>
  <hr>

  <div class="container-fluid">
  {% for report in report_list %}
    {% show_report_tab report %}
  {% empty %}
    <p> Nothing posted yet.</p>
  {% endfor %}
  </div>
  <hr>
{% endblock content %}
