{% extends 'meta/meta_base.html' %}
{% load meta_custom_tags %}
{% load humanize %}
{% load util_custom_tags %}
{% load staticfiles %}
<!-- this is the link to edit the post. 
-->


{% block content %}
<h1> {{report.title}}  </h1>
{% display_report_body report user%}

<!-- comments -->  
<h4 class="pull-left"><b> {{report.get_comments.count}} comment{%if report.get_comments.count > 1%}s{% endif %}</b></h4>

  <ul class="nav nav-tabs right-to-left">
    <li {% ifequal tab "votes" %} class="active" {% endifequal %}
    {% ifequal tab null %} class="active" {% endifequal %}>
      <a href="?tab=votes"> votes </a> </li>
    <li {% ifequal tab "oldest" %} class="active" {% endifequal %}> 
      <a href="?tab=oldest"> oldest  </a> </li>
</ul>
  
    {% if comments.count > 0 %}
    <table class='blog-comment-table'>
      {% for comment in comments %}
      <tr>
      <td class='blog-comment-author' rowspan='2'> <a  href="{% url 'users:profile-view' comment.author.user_profile.id %}"> 
       <img class="profile-img-small" src='
        {% if comment.author.user_profile.portrait %} {{comment.author.user_profile.portrait.url}} 
        {% else %} {%static "images/user_default.png"%} 
        {% endif %}'></a></td>
        <td class='blog-comment-info'><a href="{% url 'users:profile-view' comment.author.user_profile.id %}"> {{comment.author.user_profile.name}}</a> &nbsp;<small>{{comment.last_modified|naturaltime}}</small>&nbsp;&nbsp;<span>{% display_vote_up comment user %} </span></td> 
      </tr>
      <tr>
        <td class="blog-comment-text"> {{comment.content}}  </td> 
        
      </tr>
      {% endfor %}
    </table>
    {% endif %}
<!-- add reply -->
{% if user.is_authenticated %} {% ifequal report.get_status_display 'open' %}
<h4> Add your comment: </h4>
<form role="form" action='{% url "comment-new" comment_on="reports" pk=report.id %}' method="post">
{% csrf_token %}

<textarea class="form-control" rows='5'  id="id_content" name="content"></textarea>
<br>
<input class="btn btn-default" type="submit" value="Post comment">
</form>
{% endifequal %}
{% else %}
please <a href = "{% url 'users:login' %}"> log in </a> to post a response 
{% endif %}

{% endblock content %}

{% block jquery %}
  <script src="{% static 'jquery/vote_widget.js' %}"> </script>
{% endblock jquery %}
