{% extends 'posts/post_base.html' %}
{% load meta_custom_tags %}
{% load staticfiles %}
<!-- this is the link to edit the post. 
-->


{% block content %}
<h3> {{report.title}}  </h3>
<hr>

{% display_report_body report user%}

<hr>
<!-- add reply -->

{% if user.is_authenticated %}
<h4> Add your comment: </h4>
<form role="form" action='{% url "comment-new" comment_on="reports" pk=report.id %}' method="post">
{% csrf_token %}

<textarea class="form-control" rows='5'  id="id_content" name="content"></textarea>
<br>
<input class="btn btn-default" type="submit" value="Post comment">
</form>
{% else %}
please <a href = "{% url 'users:login' %}"> log in </a> to post a response 
{% endif %}

{% endblock content %}

{% block jquery %}
  <script src="{% static 'jquery/vote_widget.js' %}"> </script>
{% endblock jquery %}
