
<html>

<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
</head>

<body>
<div id = "container">
    <div id = "header">
        <div id = "logo">
        <p> logo </p> 
        </div>
        <div id = "search_bar">
        <h2> search form </h2>
        </div>
        <div id = "some_buttons" >
        <p> some buttons </p>
        </div>
    </div>
    <div id = "middle">
        <div id = "left_bar">
        <p> left bar</p>
        </div>
        <div id = "content">
        {% block content %}
        <h2> Main Content </h2>
        {% endblock content %}
        </div>
        <div id = "right_bar">
        <p> right bar</p>
        </div>
    </div>
    <div id = "footer">
    </div>
</div>
</body>

</html>
