
<html>

<head>
{% load staticfiles %}
{% block head %}
<!-- This is the head section for other child pages to change. 
-->
{% endblock head %}

<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />


        <script src="/static/jquery.js">
        </script>
        <script src="/static/jquery.jstree.js">
		
        </script>
        <script>
            $(document).ready(function(){
                $("#treeViewDiv").jstree({
                    "json_data" : {
                        "data":[
                            {
                                "data" : "Omics type",
                                "children" :[
                                             {"data":"Transcriptomics", "metadata":{"href":"http://en.wikipedia.org/wiki/Transcriptome"}},
                                             {"data":"Proteomics", "metadata":{"href":"http://www.bing.com"}},
											  {"data":"Epigenomics", "metadata":{"href":"http://www.bing.com"}},
											   {"data":"Genomics", "metadata":{"href":"http://www.bing.com"}},
											    {"data":"Regulomics", "metadata":{"href":"http://www.bing.com"}},
                                             {"data":"Other", "metadata":{"href":"http://www.bing.com"}}, 
                                            ],
                                "state" : "open"
                            },
                            {
                                "data" : "Technology",
                                "children" :[
                                    {"data":"DNA-seq", "metadata":{"href":"http://www.fb.com"}},
                                    {"data":"RNA-seq", "metadata":{"href":"http://twitter.com"}},
									{"data":"Chip-seq", "metadata":{"href":"http://www.fb.com"}},
									{"data":"Bisulfite-seq", "metadata":{"href":"http://www.fb.com"}},
									{"data":"Mass Specrometry", "metadata":{"href":"http://www.fb.com"}},
									{"data":"Other", "metadata":{"href":"http://www.fb.com"}}
                                ]
                            }
                        ]
                    },
		    "themes" :
		    {
			"theme":"default-rtl",
		    },
		    /*"types" :
		    {
			"default":
			{
				"icon":
				{
					"image":"http://static.jstree.com/v.1.0rc/_docs/_drive.png"
				}
			}
		    },*/
			
			"types" : {
    "valid_children" : [ "folder" ],
    "types" : {
        "folder" : {
            "valid_children" : [ "file" ],
            "icon" : { "image" : "/home/akshar/rajesh1.jpg"},
            "max_depth" : 1
        },

        "file" : {
            "valid_children" : [ "none" ],
            "icon" : { "image" : "/path/to/images/file.png" },
        }
    }
},		
		
                    "plugins" : [ "themes", "json_data", "ui", "types",]
                }).bind("select_node.jstree", function(e, data)
                    {
                        if(jQuery.data(data.rslt.obj[0], "href"))
                        {
                            window.location=jQuery.data(data.rslt.obj[0], "href");
                        }
                        else
                        {
                            alert("No href defined for this element");
                        }
                    })
            });
</script>



<!-- highlight.js to detect code language and render syntax highlighting. -->
<link rel="stylesheet" href="{% static 'highlight/styles/vs-grey.css' %}">
<script src="{% static 'highlight/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>


</head>

<body>
<div id = "container">
    <div id = "header">
        <div id = "logo">
        <img src = "{% static 'OMICS.jpeg' %}" alt="Logo missing" width = "150" >
        <p><strong> &nbsp&nbsp&nbsp OMICS Wiki&Q&A </strong></p>
        </div>
        <div id = "search_bar">
        <!-- search form -->
        <p> Search form </p>
        <form action="{% url 'search' %}" method="get">
            <select name = "search_field">
                <option value ="All"> All </option>
        <!--        <option value ="Tag"> Tag </option> --><!-- because tags and wiki are the same -->
                <option value ="Wiki"> Wiki </option>
                <option value ="Post"> Post </option>
            </select>
            <input type="text" size=100 name="search_text"> 
            <input type="submit" value="Search">
	</form>
        <button type="button"> Advanced search </button>
        </div>
        <div id = "some_buttons" >
        {% block top_right %}
            {% if user.is_authenticated %}
                <p> Hello, {{user.username}}! </p>
                <p> <a href = "{% url 'users:logout' %}"> log out? </a> </p>
            {% else %}
                <p> Hello, stranger please <a href = "{% url 'users:login' %}"> log in </a> </p>
            {% endif %}
        {% endblock top_right %}
        </div>
    </div>
    <div id = "middle">
        <div id = "left_bar">
        <h4> left bar</h4>
        <h3> <a href= "{% url 'wiki:wiki-index' %}" > Wiki Home </a> <br><br>
        <a href= "{% url 'tags:tag-index' %}" > Tag Home </a> <br><br>
        <a href= "{% url 'posts:post-index' %}" > Post Home </a> <br><br>

        </h3>
		
		
    <body>
	 <div id = "middle">
        <div id = "left_bar">
        <div id="treeViewDiv"></div>  
</div>		
         
        </div>
        
         
        </div>
        <div id = "content">
        {% block content %}
        <h2> Main Content </h2>
        {% endblock content %}
		        </div>
        <div id = "right_bar">
        <p> right bar</p>
        </div>
    </div>
    <div id = "footer">
    </div>
</div>
</body>

</html>
