<!DOCTYPE html>

<html>
  <head>
    {% load staticfiles %}

    <!-- loading base.css  
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    -->
    <!-- website icon --> 
    <link rel="shortcut icon" href="{% static 'images/logo.jpg'%}">
    <title> Omicspedia </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.2.0/css/bootstrap.min.css' %}" >
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'dashboard.css' %}" >
    <link rel="stylesheet" href="{% static 'widget-box.css' %}">

    <!-- highlight.js to detect code language and render syntax highlighting. -->
    <link rel="stylesheet" href="{% static 'highlight/styles/vs-grey.css' %}">
    <script src="{% static 'highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% block head %}
    <!-- This is the head section for other child pages to change. -->
    {% endblock head %}

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index'%}">OMICSPEDIA</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li> 
              {% if user.is_authenticated %}
                 <a href ="{% url 'users:profile-view' user.user_profile.id %}"> {{user.username}} </a>
              {% else %}
                 <a href = "{% url 'users:login' %}"> log in </a> 
              {% endif %}
            </li>
            <li> 
              {% if user.is_authenticated %}
                 <a href = "{% url 'users:logout' %}"> log out? </a>
              {% else %}
                 <a href = "{% url 'users:register' %}"> Sign-up </a>
              {% endif %}
            </li>
            <li><a href="#">Help</a></li>
          </ul>

          <form class="navbar-form navbar-right" action="{% url 'search' %}" method="get" role="search">
            <select class="form-control input-sm" name = "search_field">
                <option value ="All"> All </option>
                <option value ="Wiki"> Wiki </option>
                <option value ="Post"> Post </option>
            </select> 
            <input type="text" class="form-control input-sm " name="search_text" placeholder="Search...">
            <input type="submit" class="btn btn-default btn-sm" value="Search">
          </form>
        </div>
      </div>
    </div>

<!--        <img src = "{% static 'OMICS.jpeg' %}" alt="Logo missing" width = "150" > -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {% block sidebar-wiki %} 
            <li><a href= "{% url 'wiki:wiki-index' %}" > Wiki </a> </li>
            {% endblock sidebar-wiki %}
            {% block sidebar-tag %}
            <li><a href= "{% url 'tags:tag-index' %}" > Tag </a> </li>
            {% endblock sidebar-tag %}
            {% block sidebar-post %}
            <li><a href= "{% url 'posts:post-index' %}" > Post </a> </li>
            {% endblock sidebar-post %}
            {% block sidebar-user %}
            <li><a href= "{% url 'users:user-list' %}" > Users </a> </li>
            {% endblock sidebar-user %}
            <li><a href= "#" > Beginer's Portal </a> </li>

          </ul>
        </div>
      </div>
      <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
        <div id = "content">
        {% block content %}
        <h2> Main Content </h2>
        {% endblock content %}

      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Load bootstrap js-->
    <script src="{% static 'bootstrap-3.2.0/js/bootstrap.min.js' %}"></script>
    <!-- load app specific jquery -->
    {% block jquery %}
    {% endblock jquery %}
    <!-- load website wide js -->
    <script src="{% static 'jquery/base.js' %}"> </script>
<!--    <script src="b/assets/js/docs.min.js"></script> -->
  </body>

</html>
