{% extends 'base.html'%}
{% load staticfiles %}
{% load django_select2_tags %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	{% import_django_select2_js %}
	{% import_django_select2_css %}
	<!-- For testing importing it again, but with another tag and light=1 -->
	{% import_django_select2_js_css light=1 %}
{% endblock head %}
    </head>
<body>
{% block content %}
<form method="post" action="">
	{% csrf_token %}
	<table>
		{{form}}
	</table>
	<input type="submit" value="Submit Form"/>
</form>
{% endblock content %}
</body>
