{% extends "base.html" %}

{% load post_custom_tags %}
{% load wiki_custom_tags %}
{% load tag_custom_tags %}
{% load user_custom_tags %}

{% load staticfiles %}
{% block head %}
{% endblock head %}

{% block content %}
 <h1> OMICSPEDIA Homepage </h1>
<div class = "row">
  <div class="col-xs-6 col-md-3 home-panel",title="Wiki pages of the 
      analysis methods for OMICS data" >
    <a href="{% url 'wiki:wiki-index'%}" class="thumbnail" title="Wiki pages of the 
      analysis methods for OMICS data" >
      <img src="{% static 'images/wiki.png'%}" alt='...'>
      <p> Learn from wiki</p> 
    </a>
  </div>
    
  <div class="col-xs-6  col-md-3 home-panel">
    <a href="{% url 'posts:post-index' %}" class="thumbnail" title="We've all been there. Let us help you solve your problem.">
      <img src="{% static 'images/qa.png'%}" alt='...'>
      <p> Ask a question</p>
    </a>
  </div>
  <div class="clearfix visible-xs-block visible-sm-block"></div>
  <div class="col-xs-6 col-md-3 home-panel">
    <a href="{% url 'software:software-index' 'root'%}" class="thumbnail" title="A software database that can get you started in the analysis">
      <img src="{% static 'images/software.png'%}" alt='...'>
      <p> Find a software</p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3 home-panel">
    <a href="{% url 'portal' ''%}" class="thumbnail" title="a powerful portal that can get you oriented.">
      <img src="{% static 'images/tour.png'%}" alt='...'>
      <p> OMICS portal</p>
    </a>
  </div>
  
  
</div>
<hr>
<br>
<div class="nav-tabs-dropdown dropdown">
  show <button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     {{tab}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Summary">Summary</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Tags">Tags</a></li>

    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Posts"> Posts</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Users"> Users</a></li>
  </ul>
</div>

  <ul class="nav nav-tabs right-to-left">
    <li {% ifequal tab "Users" %} class="active" {% endifequal %} >
        <a href="?tab=Users"> Users  </a> </li>
    <li {% ifequal tab "Tags" %} class="active" {% endifequal %} >
        <a href="?tab=Tags"> Tags  </a> </li>
    <li {% ifequal tab "Posts" %} class="active" {% endifequal %} >
        <a href="?tab=Posts"> Posts  </a> </li>
    <li {% ifequal tab "Summary" %} class="active" {% endifequal %}
    {% ifequal tab null %} class="active" {% endifequal %}>
      <a href="?tab=Summary"> Summary </a> </li>

  </ul>
  
{% ifequal tab "Summary" %}
<div class="row">
<div class="section-tab col-sm-6">
<h3> <a href="?tab=Posts"> Hot posts this month </a></h3>
{% for post in post_list|slice:':5' %}
    {% show_post_tab_sm post %}
{% endfor %}
<hr>
</div>

<div class="section-tab col-sm-6">
<h3> <a href="{% url 'wiki:wiki-list'%}?tab=Bookmark">Most favorite wiki </a></h3>
<ul class="list-unstyled">
{% for wiki in wiki_list|slice:':5' %}
<li>    {% show_wiki_tab wiki %} </li>
{% endfor %}
</ul>
</div>
<div class="clearfix block-sm-visible block-md-visible"> </div> 

<div class="section-tab col-sm-6">
<h3> <a href="?tab=Tags">Hot tags this month</a>  </h3>
<ul class="list-unstyled">
{% for tag in tag_list %}
<li> {% display_tag tag %} x{{tag.monthly_count}} 
</li>
 {% endfor %}
 </ul>
</div>

<div class="section-tab col-sm-6">
<h3> <a href="?tab=Users"> Contributors this month </a></h3>
<ul class="list-unstyled">
{% for user in user_list %}
<li> {% display_user_xs user %} <span title='{{user.user_profile.name}} contributed {{user.monthly_answer_count}} answer{% if user.monthly_answer_count > 1%}s{% endif %} this month'> x{{user.monthly_answer_count}}</span>
{% endfor %}
</ul>
</div>
{% endifequal %}


{% ifequal tab 'Posts' %}
    {% for post in post_list|slice:':30' %}
    {% show_post_tab post %}
    {% endfor %}
{% endifequal %}

{% ifequal tab 'Tags' %}
<ul class="list-unstyled">
{% for tag in tag_list|slice:':30' %}
<li> {% display_tag tag %} x{{tag.monthly_count}} 
</li>
 {% endfor %}
 </ul>
{% endifequal %}

{% ifequal tab 'Users' %}
<ul class="list-unstyled">
{% for user in user_list %}
<li> {% display_user_xs user %} <span title='{{user.user_profile.name}} contributed {{user.monthly_answer_count}} answer{% if user.monthly_answer_count > 1%}s{% endif %} this month'> x{{user.monthly_answer_count}}</span>
{% endfor %}
</ul>
{% endifequal %}
</div>
   <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

 {% endblock content %}


   
