{% extends "base.html" %}
{% block head %}
<title> homepage </title>
{% endblock head %}

{% block content %}
<html>
<head>
<link rel="stylesheet" href="/static/js/postitall/postitnew.css">
<link rel="stylesheet" href="/static/css/post.css">
<link href="/static/css/tabs.css" rel="stylesheet" type="text/css" />


</head>
<body>

<div id="tabbed_box_1" class="tabbed_box">
	<h4>Browse Site <small>Select a Tab</small></h4>
    <div class="tabbed_area">
    
    	<script src="/static/js/function.js" type="text/javascript"></script>	
        <ul class="tabs">
            <li><a href="javascript:tabSwitch_2(1, 2, 'tab_', 'content_');" id="tab_1" class="active">Omics</a></li>
            <li><a href="javascript:tabSwitch_2(2, 2, 'tab_', 'content_');" id="tab_2">Technology</a></li>
          
        </ul>
        
        <div id="content_1" class="content">
		
		<div class="container">
		   <div class="column-center">			   
				<div id ="title"  style="width: 14em; height: 12em;"> 
				<br/><img src="/static/images/Transcriptome.png" alt="Smiley face" width="20" height="20"><span class="filter-label">Transcriptomics</span><br/><br/>				
				<span class="footnote"><a href= "{% url 'wiki:wiki-index' %}" > Wiki(10)  </a></span>
				<span class="footnote"><a href= "{% url 'tags:tag-index' %}" > Tag(30)  </a> </span>
				<span class="footnote"><a href= "{% url 'posts:post-index' %}" > Post (20) </a> </span>
				<br/><br/>	
				<table><tr><td>
					<span class="questions">1.How To Find Novel Genes From Comparative Transcriptomics?</span></td></tr>
					<tr><td><span class="questions">2.Denovo Transcriptome Assembly?</span></td></tr>
					<tr><td><span class="questions">3. Transcript-Level Versus Gene-Level Go Enrichment Analysis??</span></td></tr>
				</table>
       
       
				</div>
				
		   </div>
		   <div class="column-left">
				<div id ="title"  style="width: 14em; height: 12em;"> 
					 <br/><span class="filter-label">Proteomics</span>
				</div>
			</div>
		   <div class="column-right">
				<div id ="title"  style="width: 14em; height: 12em;"> 
					 <br/><span class="filter-label">Epigenomics</span>
				</div>
		   </div>
		</div>
			
			<hr/>
			<div class="container">
			   <div class="column-center">
					<div id ="title"  style="width: 14em; height: 12em;"> 
						 <br/><span class="filter-label">Regulomics</span>
					</div>
			   </div>
			   <div class="column-left">
					<div id ="title"  style="width: 14em; height: 12em;"> 
						 <br/><span class="filter-label">Genomics</span>
					</div>
				</div>
			   <div class="column-right">
			   	<div id ="title"  style="width: 14em; height: 12em;"> 
						 <br/><span class="filter-label">Other</span>
					</div>
			   </div>
			</div>
					
        </div>
		
		
        <div id="content_2" class="content">
		
			<div class="container">
			   <div class="column-center">
					<div id ="title"  style="width: 14em; height: 12em;"> 
					<br/><span class="filter-label">DNA-Seq</span>
					</div>
			   </div>
			   <div class="column-left">
					<div id ="title"  style="width: 14em; height: 12em;"> 
						 <br/><span class="filter-label">RNA-seq</span>
					</div>
				</div>
			   <div class="column-right">
					<div id ="title"  style="width: 14em; height: 12em;"> 
						 <br/><span class="filter-label">Chip-Seq</span>
					</div>
			   </div>
			</div>
			
			<hr/>
			<div class="container">
			   <div class="column-center">
					<div id ="title"  style="width: 14em; height: 12em;"> 
						 <br/><span class="filter-label">Bisulfite-seq</span>
					</div>
			   </div>
			   <div class="column-left">
					<div id ="title"  style="width: 14em; height: 12em;"> 
						 <br/><span class="filter-label">Mass Sprectrometry</span>
					</div>
				</div>
			   <div class="column-right">
			   	<div id ="title"  style="width: 14em; height: 12em;"> 
						 <br/><span class="filter-label">Other</span>
					</div>
			   </div>
			</div>
			
			
				
        </div>
        <div id="content_3" class="content">
						
        </div>
    
    </div>

</div>


</body>

</html>


  
 
 {% endblock content %}


   