{% extends "base.html" %}

{% load post_custom_tags %}

{% load staticfiles %}
{% block head %}
{% endblock head %}

{% block content %}
 <h1> OMICSPEDIA Homepage </h1>
<div class = "row">
  <div class="col-xs-6 col-md-3">
    <a href="{% url 'wiki:wiki-index'%}" class="thumbnail">
      <img src="{% static 'images/wiki.png'%}" alt='...'>
      <h4> Learn from wiki</h4> 
      <p> Wiki pages of most updated 
      analysis methods for OMICS data</p>
    </a>
  </div>
    
  <div class="col-xs-6 col-md-3">
    <a href="{% url 'posts:post-new' %}" class="thumbnail">
      <img src="{% static 'images/qa.png'%}" alt='...'>
      <h4> Ask a question</h4>
      <p> We've all been there. Let us help you solve your problem and you can help others, too. </p>
    </a>
  </div>
  <div class="clearfix visible-xs-block visible-sm-block"></div>
  <div class="col-xs-6 col-md-3">
    <a href="{% url 'software:software-index' %}" class="thumbnail">
      <img src="{% static 'images/software.png'%}" alt='...'>
      <h4> Find a software</h4>
      <p> A large software database that is ready to get you started in the analysis </p>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="{% url 'help-page' 'index'%}" class="thumbnail">
      <img src="{% static 'images/tour.png'%}" alt='...'>
      <h4> 2-min Tour</h4>
      <p> join this 2-min tour to learn what is on this website and how to use it. </p>
    </a>
  </div>
  
  
</div>
<hr>
<div>
<div class="section-tab col-sm-6">
<h3> Hot posts this month </h3>
{% for post in post_list %}
    {% show_post_tab_sm post %}
{% endfor %}
<hr>
</div>

<div class="section-tab col-sm-6">
<h3> Most viewed wiki  </h3>
</div>
<div class="clearfix block-sm-visible block-md-visible"> </div> 

<div class="section-tab col-sm-6">
<h3> Hot tags this month  </h3>
</div>

<div class="section-tab col-sm-6">
<h3> Contributors this month  </h3>
</div>
 {% endblock content %}


   
