{% extends "base.html" %}
{% block head %}
<title> homepage </title>
{% endblock head %}

{% block content %}
<html>
<head>
<link rel="stylesheet" href="/static/js/postitall/postitnew.css">


</head>
<body>
<ul class="notes">
  <li>
    <a href="#">
      <h2>Title #1</h2>
      <p>Text Content #1</p>
    </a>
  </li>
  <li>
    <a href="#">
      <h2>Title #2</h2>
      <p>Text Content #2</p>
    </a>
  </li>
   <li>
    <a href="#">
      <h2>Title #3</h2>
      <p>Text Content #2</p>
    </a>
  </li>
   <li>
    <a href="#">
      <h2>Title #4</h2>
      <p>Text Content #2</p>
    </a>
  </li>
   <li>
    <a href="#">
      <h2>Title #5</h2>
      <p>Text Content #2</p>
    </a>
  </li>
   <li>
    <a href="#">
      <h2>Title #</h2>
      <p>Text Content #2</p>
    </a>
  </li>
  
</ul>
</hr>



</body>

</html>


  
 
 {% endblock content %}


   