{% extends "base.html" %}

{% load staticfiles %}
{% load tag_custom_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/jstree-3.0.4/themes/default/style.min.css' %}" >
    <script src="{% static 'lib/jstree-3.0.4/jstree.min.js' %}"></script>
    <script src="{% static 'jquery/omics_portal_jstree.js' %}"> </script>
{% endblock head %}

{% block sidebar-portal %}
  <li class="active"><a href= "{% url 'portal' '' %}" > Omics Portal </a> </li>
{% endblock sidebar-portal %}


{% block content %}

<h1> OMICS Portal: {{category.name|default:'Root'}} </h1>
<hr>
<button id="omics-root" class="btn btn-xs btn-default">{{category.name|default:'Root'}}</button> | Type to find OMICS categories:
<input type='text' id="container-search"></input> <span id ="search-results"></span>
<br>
<div id="container">
  <ul>
  {% for tag in tag_list %}
  <li id="{{tag.name}}" data-jstree='{"icon":"{% if tag.icon.url != null %} {{tag.icon.url}} {% endif %}"}'> {{tag.name}}
   {% show_omics_tag_children tag %}
   </li>
  {% endfor %}

  </ul>
</div>
<hr>
<div id="portal_tag">
</div>

{% endblock content %}



