{% load post_custom_tags %}
{% load wiki_custom_tags %}
{% load tag_custom_tags %}
{% load software_custom_tags %}

<h1>{{tag.name}} <small> <a title="go to tag page" class="interlink" href="{% url 'tags:tag-detail' tag.name %}?tab=Summary">tag</a></small></h1>
 {% if tag.wiki_page == null %}
  There is no description of this tag, would you like to <a href="{% url 'tags:tag-edit' tag.name %}">edit it? </a>
  {% else %}
    {{tag.wiki_page.get_lead_section|safe}}

  {% endif %}

<div class="row">
  <div class="section-tab col-sm-6">
    <h3><a href="{% url 'tags:tag-detail' tag.name %}?tab=Wiki">{{tag.pages.count}} article{% if tag.pages.count > 1 %}s{% endif %}</a></h3>
      <ul class="list-unstyled">
      {% for page in tag.pages.all|slice:':5' %}
      <li>{% show_wiki_tab page %} </li>
      {% endfor %}
      </ul>
  </div>
    <div class="section-tab col-sm-6">
    <h3> <a href="{% url 'tags:tag-detail' tag.name %}?tab=Software">{{software_list.count}} software</a></h3>
    {% for software in software_list %}
        {% display_software_tab_sm software.software %}
    {% endfor %}
  </div>
    <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

  <div class="section-tab col-sm-6">
    <h3> <a href="{% url 'tags:tag-detail' tag.name %}?tab=Questions">{{tag.questions.count}} question{% if tag.questions.count > 1 %}s{% endif %}</a> </h3>
      {% for post in tag.questions %}
        {% show_post_tab_sm post %}
      {% endfor %}
  </div>
  
    <div class="section-tab col-sm-6">
    <h3> <a href="{% url 'tags:tag-detail' tag.name %}?tab=Discussions">{{tag.discussions.count}} discussion{% if tag.discussions.count > 1 %}s{% endif %}</a> </h3>
      {% for post in tag.discussions %}
        {% show_post_tab_sm post %}
      {% endfor %}
  </div>
    <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

    <div class="section-tab col-sm-6">
    <h3> <a href="{% url 'tags:tag-detail' tag.name %}?tab=Blogs">{{tag.blogs.count}} blog{% if tag.blogs.count > 1 %}s{% endif %}</a> </h3>
      {% for post in tag.blogs %}
        {% show_post_tab_sm post %}
      {% endfor %}
  </div>

  <div class="section-tab col-sm-6">
    <h3> <a href="{% url 'tags:tag-detail' tag.name %}?tab=Contributors">{{usertag_list.count}} contributors{% if usertag_list.count > 1 %}s{% endif %}</a> </h3>
    <ul class="list-unstyled" >
    {% for usertag in usertag_list %}
        {% user_answers_for_tag usertag %}
    {% endfor %}
    </ul>
  </div>
    <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

</div>
