 /* overall style */

body
{
background-position:center;
background-color:#999999;
font-family:Verdana,Tahoma,Arial,sans-serif; 
font-size:0.9em;
line-height:100%;
}
h1
{
font-size:1.5em;
text-align:center;
}


a {background-color:inherit; color:#286ea0; font-weight:700; text-decoration:none;}
a:hover {
	background-color:inherit;
	color:#286ea0;
	text-decoration:underline;
}
a img {border:0;}

#container 
{
width:1200px;
background-color:#ffffff;
margin:0px auto auto auto;
padding: 0px 5px 5px 5px;
border:0;
}

#header 
{
height:100px;
width:1200px;
}
/* sidebar */
#logo
{
height:100px;
width:200px;
float:left;
padding:0px;

}
#search_bar
{
border-left:1px solid #BBBBBB;
border-right:1px solid #BBBBBB;
height:100px;
width:800px;
float: left;
padding:0px;
padding-left: 20px;

}
#some_buttons
{
height:100px;
width:150px;
float:right;
padding:0px;
}

#middle
{
margin:0px auto auto auto;
border-top:1px solid #BBBBBB;
}
#left_bar
{
background-color:#FFFFFF;
width:200px;
float:left;
padding:0px;
margin-bottom:10px;
}

#content
{
border-left:1px solid #BBBBBB;
border-right:1px solid #BBBBBB;
min-height: 800px;
width:800px;
float:left;
padding-left: 20px;
margin-bottom:10px;
}
#content p 
{
line-height:100%;
font-size:1.05em;
}
#content h2 
{
font-size:1.3em;
}

#right_bar
{
background-color:#FFFFFF;
width:150px;
float:right;
padding:0px;
margin-bottom:10px;
}

#footer 
{
background-color:#66CDAA;
clear:both;
text-align:center;

}