/* style by class */

/************  icons *************/

.image-widget {
background-color: #dddddd;
margin-top: 10px;
padding-bottom: 10px;
border: solid 1px blue;
}
/************ votes **************/
.vote-box {
width: 40px;
vertical-align: top;
}

.vote-widget {
display: block;
}

.vote-up-on {
background-image: url('stackoverflow/sprites.png');
background-position: 0 -230px;
width: 41px;
height: 25px;
display: block;
}

.vote-up-off {
background-image: url('stackoverflow/sprites.png');
background-position: 0 -265px;
width: 41px;
height: 25px;
display: block;
}
.vote-count-obj {

text-align: center;
font-size: 1.3em;
line-height: 1em;
padding: 0px;
}

.vote-down-on {
background-image: url('stackoverflow/sprites.png');
background-position: 0 -330px;
width: 41px;
height: 25px;
display: block;

}

.vote-down-off {
background-image: url('stackoverflow/sprites.png');
background-position: 0 -300px;
width: 41px;
height: 25px;
display: block;

}

.vote-up-widget {
display: inline-block;
}

.vote-up-sm-on {
background-image: url('images/vote-up-on.jpg');
background-size: 100% auto;
width: 15px;
height: 16px;
display: inline-block;
}

.vote-up-sm-off {
background-image: url('images/vote-up-off.jpg');
background-size: 100% auto;
width: 15px;
height: 16px;
display: inline-block;
}
.vote-count-sm-obj {
text-align: center;
font-size: 1.2em;
color: red;
line-height: 1em;
padding-left: 5px;
padding-right: 20px;
display: inline;
}

.vote-open {
cursor: pointer;
}
/************ bookmark ***********/
.bookmark-widget {
display: block;
}
.bookmark-on {
background-image: url('stackoverflow/sprites.png');
background-position: 0 -190px;
width: 33px;
height: 31px;
display: block;
cursor: pointer;
margin-left: 5px;
}

.bookmark-off {
background-image: url('stackoverflow/sprites.png');
background-position: 0 -150px;
width: 33px;
height: 31px;
display: block;
cursor: pointer;
margin-left: 5px;
}

.bookmark-count {
text-align: center;
font-size: 1.3em;
line-height: 1em;
padding: 0px;
color: grey;
display: block;
}
/************  tags  *************/
.tag-list {
margin-left: 10px;
}
.tags {
#font-size:90%;
color: #4a6b82;
cursor:pointer;
font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
padding:  2px 4px 1px 4px;
background-color: #e0eaf1;
margin: 5px 2px 5px 0;
line-height: 1.4;
white-space: nowrap;
display: inline-block;
border: 1px solid #c4dae9;
min-height:28px;
font-size: 14px;
vertical-align: middle;
}
.tags > img {
height: 24px;
width: 24px;
}

.tags-software {
background-color: #FFaaaa;
border: 1px solid #FF8888;
color: white;
}

.tags-workflow {
background-color: #CCCCCC;
border: 1px solid #AAAAAA;
color: #555555;
}

.tags-proposed {
border-style: dashed;
}
.tags:hover {
    background-color: #c4dae9;
    color: #4a6b82;
    text-decoration: none;
}
.tag-icon {
height:20;
width:20;
#border: dotted 1px #999999;
margin-right:5px
}

.usertag-answer-count{
display: inline;
background-color: #E4F4D4;
color: #993300;
padding: 2px 5px;
text-align: center;
margin: 0 10px;
}

.workflow-tab {
display: inline-block;
margin:  5px 10px;
padding-right: 5px;
background-color: #EEEEEE;
box-shadow: 3px 3px 5px #888888;

}
.workflow-tab > img {
height: 40px;
width: 40px;
}
.workflow-tab-title,
.workflow-tab-title> a
{
font-size: 18px;
vertical-align: top;
}

.workflow-description {
color: white;
padding-left: 20px;
margin: 10px 20px;
box-shadow: 3px 3px 5px #888888;
background-color: #888888
}
/************* wiki ***************/

/* wiki page of content */
.toc {
border:1px solid #000000;
width:300px;
padding: 5px 0px;
margin: 10px 0 10px 50px;
font-size: 16px;
background-color: #f9f9f9;
border-color: #888888;

} 

.toc p {
margin-bottom: 0px;
}

.toc ul {
padding-left:30px;
}

.wiki-title {
font-size: 1.8em;
line-height: 1.3;
border-bottom: 1px dotted #aaa;
margin-bottom: 0.25em;
padding-bottom: 0.1em;
display: block-inline;
}
#wiki-content {
background-color: white;
padding: 0 10px;
}

#wiki-content>h2:before,
#wiki-content>h3:before,
.post-container:before
{
display: block;
content: " ";
margin-top:-40px;
height:40px;
visibility:hidden;
}

sup:before {
display: inline-block;
content: " ";
margin-top:-55px;
height:55px;
visibility:hidden;
}

footnote ol li:before {
display: inline-block;
content: " ";
margin-top:-55px;
height:55px;
visibility:hidden;
}

#wiki-content h2{
border-bottom: 1px solid #aaa;
}

#wiki-content table {
width:90%;
margin: 0 auto;
border: solid 2px black;
text-align: right;
}
#wiki-content table tr th
{
border: solid 1px grey;
padding: 2px 5px;

}
#wiki-content table tr td
{
border: solid 1px grey;
padding: 2px 5px;
border: solid 1px grey;
}

pre {
border: none;
padding: 0 5px;
background-color: #eee;
}


/**** wiki comment tab ****/
.wiki-comment-tab
{
border: 1px dotted #CCCCCC;
padding: 8px 5px;
margin: 5px 0px;
}

.wikilink {
color: #428bca;
}

.wikilink-not-exist {
color: #FF0000;
}

.wiki-tab {
padding: 2px 5px;
margin: 3px 15px;
display: inline-block;
border: solid 1px #BBBBBB;
background-color: white;
}



.wiki-tab-title{
font-size: 17px;
color: grey;
font-weight: bold;
padding-left: 10px;
}

.wiki-tab-star {
background-image: url('images/star.png');
background-size: 16px 16px;
background-repeat: no-repeat;
background-position: -2px -2px;
line-height: 20px;
font-size: 13px;
padding-left: 18px;
}
.wiki-tab-view {
background-image: url('images/click.png');
background-size: 16px 16px;
background-repeat: no-repeat;
background-position: -2px -2px;
line-height: 20px;
font-size: 13px;
padding-left: 18px;}


.wiki-tab-comment {
background-image: url('images/exclamation.jpg');
background-size: 14px 14px;
background-repeat: no-repeat;
line-height: 20px;
font-size: 13px;
padding-left: 18px;
}

.wiki-tab-warning img{
height: 15px;
width: 15px;
position: relative;
top: -3px;
}
/********* software ********/

.software-table td:first-child {
font-weight: bold;
width: 35%;
}



.software-tab {
background-color:#ffffff; 
box-shadow: 2px 2px 5px #888888;
padding-top:5px;
margin-bottom: 10px;
}

.software-tab-vote {
height:20px;
width: 15px;
padding-bottom: 5px;
margin-right: 10px;
}
/************** posts ************/

/**** post tab ****/
.post-tab {
border-bottom: 1px solid #DDDDDD;
padding-bottom: 10px;
margin-bottom: 0px;
min-height:65px;
display: block;
width: 100%;
}

.post-count-box{
float: left;
background-color: #F4F4F4;
margin-top: 0px;
}

.post-count-box div{
float: left;
width: 50px;
text-align: center;
}

.post-count-box div h3{
margin-top: 5px;
margin-bottom: 2px;
}

.post-tab-reply {
color: #993300;
}

.post-tab-reply-accepted{
background-color: #669900;
color: white;
}
.post-tab-views {
color: #999999;
}


.post-tab-detail {
margin-left:160px;
height: 100%;
}

.post-tab-title{
font-size: 16px;
font-weight: bold;
}

.post-tab-tags {
float:left;
display: inline-block;
}
.post-created {
text-align: right;
color: #999999;
}

.post-count-box-sm{

}
/* post tab small */
.post-tab-sm {
margin-bottom: 10px;
}
.post-count-box-sm div{
float: left;
padding: 2px 5px;
text-align: center;
font-size: 14px;
}
.post-tab-vote-sm {
background-color: #F4F4F4;
}
.post-tab-reply-sm {
color: #993300;
background-color: #E4F4D4;
}

.post-tab-reply-accepted{
background-color: #669900;
color: white;
}
.post-tab-view-sm {
color: white;
background-color: #999999;
}

.post-tab-title-sm{
margin-left: 20px;
font-size: 16px;
font-weight: bold;
color: #555555;
}

/**** post body ****/
.question-container {
width: 100%;
margin: 5px 0;
border-top: 1px solid #eeeeee;
}

.post-container{
width: 100%;
border: 1px solid #5C7099;
border-collapse: initial;
margin: 5px 0;
}
.post-container tr td.vote-box {
background-color: #eeeeee;
}


.blog-container{
width:100%;
}

.question-body {
padding-left: 10px;
}

.post-body {
border-left: solid 1px #aaaaaa;
padding-left: 10px;
}
.blog-body {
padding-left: 10px;
}

.post-action {
background-color: #5C7099;
color: white;
padding: 0 10px;
}

.post-action > a{
color: #dddddd;
}
.accepted-answer {
background-image: url('stackoverflow/sprites.png');
background-position: 0 -460px;
width: 39px;
height: 40px;
display: inline-block;
}

.post-authorship{
padding-top: 20px;
}

.blog-body-author {
float:right;
padding: 10px;
}
.post-body-author {
float:right;
padding: 2px;
}

.blog-foot {
#margin-top: 20px;
overflow: hidden;
border-top: dotted 1px #aaaaaa;
}


/********* short comments *********/

.comments-all {
margin: 10px 20px 0px 50px;
font-size:13px;
line-height: 1em;
font-weight: normal;
border-bottom: dotted 1px grey;

}

.comment-row {
border-top: dotted 1px grey;
padding: 5px;
}

.comment-vote-count {
width: 40px;
padding-right:30px;
color: red;
}

.blog-comment-table{
width: 100%;
margin-top:10px;
}
.blog-comment-author {
width:70px;
height: 80px;
vertical-align: top;
}
.blog-comment-info{
height:20px;
border-bottom: dotted 1px #aaaaaa;
vertical-align: top;
}
.blog-comment-text{
padding: 0px;
vertical-align: top;
}

/*********** users **********/

.profile-img  {
margin: 0px 10px;
width: 140px;
display: inline-block;
}
.profile-img-big{
width: 140px;
height:140px;
}

.profile-img-small{
width: 60px;
height: 60px; 
box-shadow: 3px 3px 5px #888888;
display: inline-block;
}
.profile-img-xs{
width: 20px;
height: 20px;
}

.profile-follow {
display: inline-block;
margin-left:10px;
margin-top: 10px;
}

.profile-follow-num{
font-size: 18px;
line-height:1em;
margin-left: 20px;
}


.profile-info {
margin: 0px 0px 0px 0px;
display: inline-block;
vertical-align: top;
}

.profile-bio{
margin: 0px 0px 0px 10px;
padding: 5px;
background: #F0F0F0;
min-width: 380px;
max-width: 480px;
min-height: 180px;
display: inline-block;
vertical-align: top;
}

.profile-tab {
height: 60px;
margin: 5px;
display: inline-block;
}

.profile-tab-info{
display: inline-block;
padding: 3px;
line-height: 1em;
vertical-align: middle;
}

.profile-view-tab-choice-on {
font-size: 14px;
padding: 3px 0 0px 3px;
margin-left: 15px;
cursor: pointer;
background-color: #999;
color: white;
}

.profile-view-tab-choice-off {
font-size: 14px;
padding: 3px 0 0px 3px;
margin-left: 15px;
cursor: pointer;
color: white;

}


#bookmark-post-list {
display: none;
}

#bookmark-software-list {
display: none;
}
 
.bookmark-sidebar {
width: 80px;
float: left;
border-right: 1px solid #bbbbbb;
}
.bookmark-sidebar li a{
text-align: center;
}

.bookmark-sidebar > .active > a, 
.bookmark-sidebar > .active > a:hover,
.bookmark-sidebar > .active > a:focus
{
  color: #fff;
  background-color: #428bca;
}


.notification {
background-image: url('images/notification.png');
background-size: 75% 25px;
background-repeat: no-repeat;
background-position: 7px 10px;
}

a.notification:hover {
color:#990000;
}

.notification-unread {
font-weight: bold;
}

.notification-read {
color: grey;
}
/******* omics portal ******/
