{% load staticfiles %}
{% load humanize %}
<div class="profile-tab-info">
<a  href="{% url 'users:profile-view' user_profile.id %}"> 
<img class="profile-img-small" src='
{% if user_profile.portrait %} {{user_profile.portrait.url}} 
{% else %} {%static "images/user_default.png"%} 
{% endif %}'></a>
</div>
<div class="profile-tab-info">
<a href="{% url 'users:profile-view' user_profile.id %}"> {{user_profile.name}} </a> <br>
&#149;&nbsp;<strong>{{user_profile.reputation}} </strong><br>
{% if field == 'activity' %}
<small>{{user_profile.last_activity|naturaltime}}</small>
{% endif %}
{% ifequal field 'location' %}
{{user_profile.location }}
{% endifequal %}
</div>