{% extends 'tags/tag_base.html' %}
{% load staticfiles %}
{% load post_custom_tags %}
{% block content %}
<h3> <a href="{% url 'tags:tag-detail' usertag.tag.name%}?tab=Summary"> {{usertag.tag.name}}</a> questions answered by <a href = "{% url 'users:profile-view' usertag.user.user_profile.id %}" > 
<img class="profile-img-xs" src='{% if usertag.user.user_profile.portrait %} {{usertag.user.user_profile.portrait.url}} 
{% else %} {%static "images/user_default.png"%}{% endif %}'
> {{usertag.user.user_profile.name}} </a> </h3>
<hr>

{% for answer in object_list %}
    {% show_answer_tab_sm answer %}
{% endfor %}

{% endblock content %}