{% extends 'tags/tag_base.html' %}
{% load tag_custom_tags %}
{% load post_custom_tags %}
{% load wiki_custom_tags %}
{% block content %}

<h1> {% show_tag_ancestor tag %} {{ tag.name }} <small> &lttag&gt </small> 

{% if perms.tags.delete_tag %}
<br>
<a class="btn btn-xs btn-default" href="{% url 'tags:tag-edit' tag.name %}">Edit</a>
<a class="btn btn-xs btn-default" href = "{% url 'tags:tag-delete' name=tag.name %}">Delete? </a>
{% endif %}
{% if tag.get_category_display == "workflow"%}

<a class="btn btn-xs btn-primary"  href="{% url 'tags:tag-create' parent_name=tag.name %}"> Create new tag under this tag?</a>
{% endif %}
</h1>

 {% if tag.wiki_page == null %}
  There is no description of this tag, please add a <a href="{% url 'tags:tag-edit' tag.name %}">wiki</a> page to it. 
  {% else %}
  <div class="pull-left">
{{tag.wiki_page.get_lead_section|safe}} 
</div>
<small> <a href="{% url 'wiki:wiki-detail' tag.wiki_page.get_title %}">&nbsp;[tag wiki]</a> </small>
  {% endif %}

<br><br>
  <ul class="nav nav-tabs">
    <li {% ifequal tab "Info" %} class="active" {% endifequal %}>
      <a href="?tab=Info"> Info </a> </li>
    <li {% ifequal tab "Articles" %} class="active" {% endifequal %}> 
      <a href="?tab=Articles"> Articles ({{wiki_list.count}}) </a> </li>
    <li {% ifequal tab "Posts" %} class="active" {% endifequal %} >
        <a href="?tab=Posts"> Posts ({{post_list.count}}) </a> </li>
    
  </ul>

{% ifequal tab "Info" %}

 This is the Info page of the tag
{% endifequal %}

{% ifequal tab "Articles"%}
  <br>  
  <ul>
  {% for wiki in wiki_list %}
  {% show_wiki_tab wiki %}
  {% empty%}
  No wiki associated with this tag yet. Would you like to suggest adding some tags to these <a href=""> articles?</a>
  {% endfor%}
  </ul>
{% endifequal %}

{% if tab == "Posts"%}
<div class="container-fluid">
{% for post in post_list %}
  {% show_post_tab post %}
{% empty %}
No posts associated with this tag yet. Would you like to suggest adding some tags to these <a href="">posts? </a>
{% endfor %}
</div>
{% endif %}

{% endblock content %}
