{% extends 'tags/tag_base.html' %}
{% load tag_custom_tags %}
{% load post_custom_tags %}

{% block content %}
<h1> {% show_tag_ancestor tag %} {{ tag.name }}  </h1>
<br>
<a class="btn btn-sm btn-default" href = "{% url 'tags:tag-delete' name=tag.name %}">Delete? </a>
<button class="btn btn-small btn-primary" type='button' onclick='location.href="{% url "tags:tag-create" parent_name=tag.name %}"'> Create new tag under this tag?</button>

<p> counts: {{ tag.count}} </p>

  <ul class="nav nav-tabs">
    <li {% ifequal tab "Info" %} class="active" {% endifequal %}>
      <a href="?tab=Info"> Info </a> </li>
    <li {% ifequal tab "Articles" %} class="active" {% endifequal %}> 
      <a href="?tab=Articles"> Articles </a> </li>
    <li {% ifequal tab "Latest" %} class="active" {% endifequal %}
        {% ifequal tab null %} class="active" {% endifequal %}>
        <a href="?tab=Latest"> Latest </a> </li>
  </ul>

{% ifequal tab "Info" %}

  {% if tag.wiki_page == null %}
  The wiki is not developed for this tag, would you like to <a href="{% url 'tags:tag-edit' tag.name %}">associate with one? </a>
  {% else %}
  <h1 class="wiki-title"> About {{tag.wiki_page.title}}
    <small> <a href="{% url 'wiki:wiki-detail' tag.wiki_page.get_title %}"> [Go to wiki]</a> </small> </h1>
  <p> {{ tag.wiki_page.get_marked_up_content|safe }} </p>
  <p> last modified: {{ tag.wiki_page.current_revision.modified_date }} </p>

  {% endif %}
{% endifequal %}


{% ifequal tab "Articles"%}
  <br>
  <ul>
  {% for wiki in wiki_list %}
  <li> <h4><a href="{% url 'wiki:wiki-detail' wiki.get_title %}"> {{wiki.title}} </a> <h4></li>
  {% endfor%}
  </ul>
{% endifequal %}


{% for post in post_list %}
  {% show_post_tab post %}
{% endfor %}


{% endblock content %}
