{% extends 'tags/tag_base.html' %}
{% load tag_custom_tags %}
{% load post_custom_tags %}

{% block content %}
<br>
<a class="btn btn-xs btn-default" href = "{% url 'tags:tag-delete' name=tag.name %}">Delete? </a>
<button class="btn btn-xs btn-primary" type='button' onclick='location.href="{% url "tags:tag-create" parent_name=tag.name %}"'> Create new tag under this tag?</button>
<br>
<h1> {% show_tag_ancestor tag %} {{ tag.name }} <small> x{{tag.count}} </small> </h1>
 {% if tag.wiki_page == null %}
  There is no description of this tag, would you like to <a href="{% url 'tags:tag-edit' tag.name %}">contribute? </a>
  {% else %}
<a href="{% url 'wiki:wiki-detail' tag.wiki_page.get_title %}"> [Click here for more]</a> 

{{tag.wiki_page.get_lead_section|safe}} 
  {% endif %}

<br>
  <ul class="nav nav-tabs">
    <li {% ifequal tab "Info" %} class="active" {% endifequal %}>
      <a href="?tab=Info"> Info </a> </li>
    <li {% ifequal tab "Articles" %} class="active" {% endifequal %}> 
      <a href="?tab=Articles"> Articles </a> </li>
    <li {% ifequal tab "Posts" %} class="active" {% endifequal %}
        {% ifequal tab null %} class="active" {% endifequal %}>
        <a href="?tab=Posts"> Posts </a> </li>
    <li {% ifequal tab "Other" %} class="active" {% endifequal %}> 
      <a href="?tab=Other"> Other </a> </li>        
  </ul>

{% ifequal tab "Info" %}

 This is the Info page of the tag
{% endifequal %}


{% ifequal tab "Articles"%}
  <br>
  <ul>
  {% for wiki in wiki_list %}
  <li> <h4><a href="{% url 'wiki:wiki-detail' wiki.get_title %}"> {{wiki.title}} </a> <h4></li>
  {% empty%}
  No wiki associated with this tag yet. Would you like to suggest adding some tags to these <a href=""> articles?</a>
  {% endfor%}
  </ul>
{% endifequal %}

{% if tab != "Info" and tab != "Articles"%}
{% for post in post_list %}
  {% show_post_tab post %}
{% empty %}
No posts associated with this tag yet. Would you like to suggest adding some tags to these <a href="">posts? </a>
{% endfor %}
{% endif %}

{% endblock content %}
