{% extends "users/user_base.html" %}


{% block content %}
<h2> E-mail verification </h2>
    {% if sent == 'sent' %} Verification e-mail has been sent to <b>{{ user.email }}</b>. Please check your e-mail box. It may take up to several minutes to see the e-mail...
    {% else %}
    
    <p>Please verify that the following e-mail is correct.</p>

<form action="" method="post">
    {% csrf_token %}
    <p><label for="id_email">E-mail address:</label> {{ user.email }}   </p>

    <input class="btn btn-primary" type="submit" value="Send verification code" />
    {% endif %}
  
</form>
{% endblock content %}