{% extends 'users/user_base.html' %}
{% load staticfiles %}
{% block content %}
<h2> Notifications <small>{{total_count}} <a href="{%url 'users:notifications' user.id 'all'%}"> total</a>, {{unread_count}} <a href="{%url 'users:notifications' user.id 'unread'%}">unread</a></small></h2>
<table class="table">
{% for notification in notification_list %}
<tr>
    <td class="notification-row {%if notification.unread %}notification-unread{%else%}notification-read{%endif%}" notification-pk="{{notification.pk}}"> {{notification.message|safe}} 
        &nbsp;&nbsp;-{{notification.created}}</td>
</tr>
{% endfor %}
</table>
{% endblock content %}

{% block jquery %}
  <script src="{% static 'jquery/profile-view.js' %}"> </script>
{% endblock jquery %}
