{% extends "users/user_base.html" %}
{% load i18n static %}

{% block content %}

<form action="" method="post">
{% csrf_token %}

<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<fieldset class="col-xs-12 col-sm-6 col-sm-offset-3">

<div class="form-group">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>
    <input id="id_old_password" name="old_password" type="password" class="form-control">
</div>

<div class="form-group">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>
    <input id="id_new_password1" name="new_password1" type="password" class="form-control">
</div>

<div class="form-group">
{{ form.new_password2.errors }}
    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>
    <input id="id_new_password2" name="new_password2" type="password" class="form-control">
</div>



<div class="">
    <input type="submit" value="{% trans 'Change my password' %}" class="default btn btn-primary" />
</div>
</fieldset>
</form>
{% endblock %}