{% extends "users/user_base.html" %}
{% load tag_custom_tags %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
<h2>{{userprofile.name}}</h2>

{% if user == userprofile.user %} 
    {% if user.email_verified == False %}
    <div class="alert alert-warning"> 
        You e-mail has not been verified therefore your account is limited. Would you like to 
        <a href="{% url 'users:email-verification-form' ''%}"> verify your e-mail address </a> now? 
        </div>
    {% endif %}
{% endif %}

<div class="row">
	<div class="profile-img"> 
    {% if userprofile.portrait %}
    <img class="profile-img-big" src="{{userprofile.portrait.url}}">
    {% else %}
    <img class="profile-img-big" src='{% static "images/user_default.png"%}'>
    {% endif %}
    <div class="profile-follow">
      <strong class="profile-follow-num"><a href="">{{userprofile.following.count}}</a></strong> <br><p>following</p>
    </div>
    <div class="profile-follow">
    <strong class="profile-follow-num"><a href="">{{userprofile.follower.count}}</a></strong> <br>follower
    </div>
	</div>
	<div class="profile-info">
	  <table class="table">
        <tr> <td>Website</td><td> {{userprofile.website}} </td></tr>
        <tr> <td>Location</td><td> {{userprofile.location}} </td></tr>
        <tr> <td>Member since</td><td> {{userprofile.date_joined|naturaltime}} </td></tr>
        <tr> <td>Last seen</td><td> {{userprofile.last_activity|naturaltime}} </td></tr>

	    <tr> <td>Reputation</td><td> {{userprofile.reputation}} </td></tr>
	  </table>
	</div>
	<div class="profile-bio">
		<b>About me:</b>
         {{userprofile.biography}}
	</div>
</div>
<hr>
<div class="row" id="profile-view-tabs">
<div class="col-sm-6">
<h3> {{userprofile.user.mainpost_set.count}} question{% if userprofile.user.mainpost_set.count > 1%}s{%endif%} </h3>
<ul>
{% for post in userprofile.user.mainpost_set.all %}
<li> <a href="{% url 'posts:post-detail' post.id %}"> {{post.title}}</a></li>
{% endfor %}
</ul> 
</div>
<div class="col-sm-6 ">
<h3> {{userprofile.user.replypost_set.count}} answer{% if userprofile.user.replypost_set.count > 1%}s{%endif%}</h3>
<ul>
{% for replypost in userprofile.user.replypost_set.all %}
<li> <a href="{% url 'posts:post-detail' replypost.mainpost.id %}"> {{replypost.mainpost.title}}</a></li>
{% endfor %}
</ul> 
</div>
<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
<div class="col-sm-6" id="profile-view-bookmark">
<h3> {{userprofile.user.bookmarks.count}} bookmark{% if userprofile.user.bookmarks.count > 1%}s{% endif %}
    <small class="profile-view-tab-choice profile-view-tab-choice-on" target="bookmark-wiki-list"> wiki<sup>{{bookmark_wiki.count}}</sup> </small>
    <small class="profile-view-tab-choice profile-view-tab-choice-off" target="bookmark-post-list"> post<sup>{{bookmark_posts.count}}</sup> </small>
    <small class="profile-view-tab-choice profile-view-tab-choice-off" target="bookmark-software-list"> software<sup>{{bookmark_software.count}}</sup> </small>
</h3>
<ul id="bookmark-wiki-list">
{% for wiki in bookmark_wiki %}
<li> {{wiki.title}} </li>
{% endfor %}
</ul>
<ul id="bookmark-post-list">
{% for post in bookmark_posts %}
<li> <a href="{% url 'posts:post-detail' post.id %}"> {{post.title}}</a></li>
{% endfor %}
</ul>
<ul id="bookmark-software-list">
{% for software in bookmark_software %}
<li> {{software.name}} </li>
{% endfor %}
</ul>

</div>
<div class="col-sm-6 ">
<h3> {{tag_list.count}} tag{% if tag_list.count > 1 %}s{% endif %} </h3>
    {% display_tag_user_contribution tag_list user 10%}
</ul>
</div>
</div>

<hr>
  {% if user == userprofile.user %}
    <a class="btn btn-default btn-sm" href = "{% url 'users:profile-edit' user.user_profile.id %}"> Edit profile? </a>
    <a class="btn btn-default btn-sm" href = "{% url 'users:password-change' %}"> Change Password? </a>
    <a class="btn btn-default btn-sm" href = "{% url 'users:logout' %}"> log out? </a>
  {% endif %}
{% endblock content %}


{% block jquery %}
  <script src="{% static 'jquery/profile-view.js' %}"> </script>
{% endblock jquery %}
