{% extends "users/user_base.html" %}
{% load tag_custom_tags %}
{% load post_custom_tags %}
{% load wiki_custom_tags %}
{% load software_custom_tags %}
{% load staticfiles %}
{% load humanize %}

{% block content %}

  {% if user == userprofile.user %}
    
  {% endif %}
  
<h1> <span class="pull-left">{{userprofile.name}}&nbsp;&nbsp;</span>
{% if user.is_authenticated %}
    {% if user.user_profile.id != userprofile.id %}
<form class="form pull-left" action="{% url 'users:change-follow' userprofile.id %}?next={{request.path}}" method="post">
{% csrf_token %}
<input style="display:none;" value="{{user.user_profile.id}}" name="follower"/> 

{% if userprofile in user.user_profile.following.all %} <button class="btn btn-sm btn-default">  <img src="{% static 'icons/delete199.png' %}"> Unfollow </button>
{%else%}<button class="btn btn-sm btn-default"><img src="{% static 'icons/add199.png' %}"> Follow</button> {% endif %}
</form>
    {% else %}
    <a class="btn btn-default btn-sm" href = "{% url 'users:profile-edit' user.user_profile.id %}"> <img src="{% static 'icons/pen29.png' %}"> Edit profile </a>
    <a class="btn btn-default btn-sm" href = "{% url 'users:password-change' %}">  <img src="{% static 'icons/key162.png' %}"> Change Password </a>
    <a class="btn btn-default btn-sm" href = "{% url 'users:logout' %}?next={{request.path}}">  <img src="{% static 'icons/door9.png' %}"> Log out </a>
    {% endif %}
{% endif %}
<span>&nbsp;&nbsp;</span>
</h1>

{% if user == userprofile.user %} 
    {% if user.email_verified == False %}
        <div class="alert alert-warning"> 
        You e-mail has not been verified therefore your account is limited. Would you like to 
            <a href="{% url 'users:email-verification-form' ''%}"> verify your e-mail address </a> now? 
        </div>
    {% endif %}
{% endif %}

<div class="row">

<div class="col-xs-12 col-sm-7">
    <table>
    <tr>
	<td class="profile-img "> 
        {% if userprofile.portrait %}
            <img class="profile-img-big" src="{{userprofile.portrait.url}}">
        {% else %}
            <img class="profile-img-big" src='{% static "images/user_default.png"%}'>
        {% endif %}
        <div class="profile-follow">
            <strong class="profile-follow-num"><a href="{% url 'users:following' userprofile.pk %}">{{userprofile.following.count}}</a></strong> <br><p>following</p>
        </div>
        <div class="profile-follow">
            <strong class="profile-follow-num"><a href="{% url 'users:followers' userprofile.pk %}">{{userprofile.follower.count}}</a></strong> <br>follower
        </div>
	</td>
	<td class="profile-info">
	  <table class="table table-condensed">
        <tr> <th>Website</th><td> <a href="{{userprofile.website}}"> {{userprofile.website}}</a> </td></tr>
        <tr> <th>Location</th><td> {{userprofile.location}} </td></tr>
        <tr> <th>Member since</th><td> {{userprofile.date_joined|naturaltime}} </td></tr>
        <tr> <th>Last seen</th><td> {{userprofile.last_activity|naturaltime}} </td></tr>

	    <tr> <th>Reputation</th><td> {{userprofile.reputation}} </td></tr>
	  </table>
	</td>
    </tr>
    </table>
    </div>
    <div class="col-xs-12 col-sm-5">
	<div class="profile-bio">
		<b>About me:</b>
         {{userprofile.biography}}
	</div>
    </div>
</div>
<br>

<!-- tabs --> 
<div class="nav-tabs-dropdown dropdown">
  show <button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
     {{tab}}
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Summary">Summary</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Questions"> Questions</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Answers"> Answers</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Discussions"> Discussions</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Blogs"> Blogs</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Bookmarks"> Bookmarks</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Tags"> Tags</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="?tab=Wiki"> Wiki</a></li>

  </ul>
</div>

  <ul class="nav nav-tabs">
    <li {% ifequal tab "Summary" %} class="active" {% endifequal %}
    {% ifequal tab null %} class="active" {% endifequal %}>
      <a href="?tab=Summary"> Summary </a> </li>
    <li {% ifequal tab "Questions" %} class="active" {% endifequal %} >
        <a href="?tab=Questions"> Questions  </a> </li>
    <li {% ifequal tab "Answers" %} class="active" {% endifequal %} >
        <a href="?tab=Answers"> Answers  </a> </li>
    <li {% ifequal tab "Discussions" %} class="active" {% endifequal %} >
        <a href="?tab=Discussions"> Discussions  </a> </li>
    <li {% ifequal tab "Blogs" %} class="active" {% endifequal %} >
        <a href="?tab=Blogs"> Blogs  </a> </li>
    <li {% ifequal tab "Bookmarks" %} class="active" {% endifequal %} >
        <a href="?tab=Bookmarks"> Bookmarks </a> </li>
    <li {% ifequal tab "Tags" %} class="active" {% endifequal %}> 
      <a href="?tab=Tags"> Tags  </a> </li>
    <li {% ifequal tab "Wiki" %} class="active" {% endifequal %}> 
      <a href="?tab=Wiki"> Wiki  </a> </li>
  </ul>

<!-- summary tabs -->
{% ifequal tab 'Summary' %}
<div class="row">
<div class="section-tab col-sm-6">
<div> <a href="?tab=Questions">{{question_count}} question{% if question_count > 1%}s{%endif%}</a></div>

{% for question in questions|slice:':5' %}
    {% show_post_tab_sm question %}
{% endfor %}
</div>

<div class="section-tab col-sm-6 ">
<div> <a href="?tab=Answers">{{answer_count}} answer{% if answer_count > 1%}s{%endif%}</a></div>
{% for answer in answers|slice:':5' %}
    {% show_answer_tab_sm answer %}
{% endfor %}
</div>

<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

<div class="section-tab col-sm-6">
<div> <a href="?tab=Discussions">{{discussion_count}} discussion{% if discussion_count > 1%}s{%endif%}</a> </div>
{% for post in discussions|slice:':5' %}
    {% show_post_tab_sm post %}
{% endfor %}
</div>

<div class="section-tab col-sm-6">
<div> <a href="?tab=Blogs">{{blog_count}} blog{% if blog_count > 1%}s{%endif%}</a></div>
{% for post in blogs|slice:':5' %}
    {% show_post_tab_sm post %}
{% endfor %}
</div>

<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

<div class="section-tab col-sm-6" id="profile-view-bookmark">
    <div> <a href="?tab=Bookmarks">{{bookmark_count}} bookmark{% if bookmark_count > 1%}s{% endif %}</a>
    <small class="profile-view-tab-choice profile-view-tab-choice-on" target="bookmark-wiki-list"> wiki<sup>{{bookmark_wiki_count}}</sup> </small>
    <small class="profile-view-tab-choice profile-view-tab-choice-off" target="bookmark-post-list"> post<sup>{{bookmark_post_count}}</sup> </small>
    <small class="profile-view-tab-choice profile-view-tab-choice-off" target="bookmark-software-list"> software<sup>{{bookmark_software_count}}</sup> </small>
</div>
<ul id="bookmark-wiki-list" class="list-unstyled">
{% for wiki in bookmark_wiki|slice:':5' %}
        <li>{% show_wiki_tab wiki %}</li>
{% endfor %}
</ul>
<ul id="bookmark-post-list">
{% for post in bookmark_posts|slice:':5' %}
    {% show_post_tab_sm post %}
{% endfor %}
</ul>
<ul id="bookmark-software-list">
{% for software in bookmark_software|slice:':5' %}
{% display_software_tab_sm software %}
{% endfor %}
</ul>
</div>

<div class="section-tab col-sm-6 ">
<div> <a href="?tab=Tags">{{usertag_count}} tag{% if usertag_count > 1 %}s{% endif %}</a> </div>
    <ul class="list-unstyled" >
    {% for user_tag in usertag_list|slice:':5' %}
        {% tag_answers_for_user user_tag %}
    {% endfor %}
    </ul>
    
</div>
<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

<div class="section-tab col-sm-6 ">
<div> <a href="?tab=Wiki">{{userpage_count}} wiki page{% if userpage_count > 1 %}s{% endif %}</a> </div>
    <ul class="list-unstyled" >
    {% for userpage in userpage_list|slice:':5' %}
    <li> {% show_wiki_tab userpage.page%} (
    <span class="ins">+{{userpage.added}}</span> / <span class="del">-{{userpage.deleted}}</span> / <span><a href="{% url 'wiki:wiki-contributors' userpage.page.get_title %}"><b>{{userpage.edits}} edit{% if userpage.edits > 1%}s{%endif%} </b></a></span> )
    </li>
    {% endfor %}
    </ul>
    
</div>

</div>
{% endifequal %}
<!-- question tab -->
{% ifequal tab 'Questions' %}
{% for question in questions %}
    {% show_post_tab question %}
{% endfor %}
{% endifequal %}

<!-- answers tab -->
{% ifequal tab 'Answers' %}
<br>
{% for answer in answers %} 
    {% show_answer_tab_sm answer %}
{% endfor %}
{% endifequal %}

<!-- discussion tab -->
{% ifequal tab 'Discussions' %}
{% for discussion in discussions %}
    {% show_post_tab discussion %}
{% endfor %}
{% endifequal %}

<!-- blog tab -->
{% ifequal tab 'Blogs' %}
{% for blog in blogs %}
    {% show_post_tab blog %}
{% endfor %}
{% endifequal %}


<!-- bookmark tab -->
{% ifequal tab 'Bookmarks' %}
<ul class="bookmark-sidebar nav">
<li {% ifequal mark 'wiki'%}class="active"{% endifequal %}><a href="?tab=Bookmarks&mark=wiki">wiki</a></li>
<li {% ifequal mark 'posts'%}class="active"{% endifequal %}><a href="?tab=Bookmarks&mark=posts">posts</a></li>
<li {% ifequal mark 'software'%}class="active"{% endifequal %}><a href="?tab=Bookmarks&mark=software">software</a></li>
</ul>
  {% ifequal mark 'wiki' %}
  <ul class="list-unstyled">
    {% for wiki in bookmark_wiki %} 
       <li> {% show_wiki_tab wiki %} </li>
    {% endfor %}
  </ul>
  {% endifequal %}
  
  {% ifequal mark 'posts' %}
  <div class="pull-left">
    {% for post in bookmark_posts %} 
        {% show_post_tab_sm post %}
    {% endfor %}
  </div>
  {% endifequal %}

  {% ifequal mark 'software' %}
  <div class="pull-left">
    {% for software in bookmark_software %} 
        {% display_software_tab_sm software %}
    {% endfor %}
  </div>
  {% endifequal %}
  
{% endifequal %}

<!-- tag tab -->
{% ifequal tab 'Tags' %}
    <ul class="list-unstyled">
{% for usertag in usertag_list %}
    {% tag_answers_for_user usertag %}
{% endfor %}
    </ul>
{% endifequal %}

<!-- wiki tab -->
{% ifequal tab 'Wiki' %}
<ul class="list-unstyled" >
{% for userpage in userpage_list %}
<li> {% show_wiki_tab userpage.page %} (
    <span class="ins">+{{userpage.added}}</span> / <span class="del">-{{userpage.deleted}}</span> / <span><a href="{% url 'wiki:wiki-contributors' userpage.page.get_title %}"><b>{{userpage.edits}} edit{% if userpage.edits > 1%}s{%endif%} </b></a></span> )
    </li>
{% endfor %}
</ul>
{% endifequal %}

<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
<hr> 

      {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class='btn btn-xs btn-default' href="{% url 'users:profile-view' userprofile.id %}?tab={{tab}}&page={{ page_obj.previous_page_number }}">Prev</a>
                {% endif %}
                <span class="page-current">
                    Page <b>{{ page_obj.number }}</b> of <b>{{ page_obj.paginator.num_pages }}</b>.
                </span>
                {% if page_obj.has_next %}
                    <a class='btn btn-xs btn-default' href="{% url 'users:profile-view' userprofile.id %}?tab={{tab}}&page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
                <form action="" class="pagination-form" method="get">  <input type="text" size="1" name="page" placeholder="1"> <input style="display:none" type="text" size="1" name="tab" value="{{tab}}"> <input type="submit" class="btn btn-default btn-xs" value="Go">
                </form>
            </span>
        </div>
    {% endif %}
{% endblock content %}


{% block jquery %}
  <script src="{% static 'jquery/profile-view.js' %}"> </script>
{% endblock jquery %}
