{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Register at omicspedia </h2>
<ul> 
<li> Registeration is FREE.</li>
<li> Your e-mail address will NOT be visible to anyone using this website.</li>
<li> E-mail is just required to verify your identity and protect the website from malicious attacks.</li>
<li>You can use anything for your password.</li>
</ul>
<hr>
<form action="" class="col-xs-12 col-sm-6 col-sm-offset-3" method="post">
{% csrf_token %}
{% crispy form %}
</form>
{% endblock content %}

