{% extends "users/user_base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load user_custom_tags %}
{% block content %}

<h1> {{user_count}} users </h1>
  <ul class="nav nav-tabs">

    <li {% ifequal tab 'Reputation' %} class="active" {% endifequal %}>
      <a href="?tab=Reputation" > Reputation </a> </li>
    <li {% ifequal tab 'Activity' %} class="active" {% endifequal %}
    {% ifequal tab null %} class="active" {% endifequal %}>
      <a href="?tab=Activity"> Activity </a> </li>
    <li {% ifequal tab 'Moderators' %} class="active" {% endifequal %}> 
      <a href="?tab=Moderators"> Moderators <span class="badge"> {{moderator_count}}</span> </a> </li>
    
  </ul>
<br>
{% if user_profile_list %}
<ul class="list-unstyled list-inline ">
{% for user_profile in user_profile_list %}
<li class="profile-tab">
 {% ifequal tab 'Reputation'%} 
   {% display_user_md user_profile 'location' %}
 {% else %}
   {% display_user_md user_profile 'activity' %}
 {% endifequal %}
 </li>

{% endfor %}
</ul>
{% else %}
<p> None in this category</p>
{% endif %}

<hr>
      {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class='btn btn-xs btn-default' href="{% url 'users:user-list'%}?page={{ page_obj.previous_page_number }}">Prev</a>
                {% endif %}
                <span class="page-current">
                    Page <b>{{ page_obj.number }}</b> of <b>{{ page_obj.paginator.num_pages }}</b>.
                </span>
                {% if page_obj.has_next %}
                    <a class='btn btn-xs btn-default' href="{% url 'users:user-list'%}?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
                <form action="" class="pagination-form" method="get">  <input type="text" size="2" name="page" placeholder="1"><input type="submit" class="btn btn-default btn-xs" value="Go">
                </form>
            </span>
        </div>
    {% endif %}

{% endblock content %}

