{% autoescape off %}
You're receiving this e-mail because you requested to verify your e-mail address for your user account at {{ site_name }}.

Please click on the following link to verify your e-mail address:
{% block reset_link %}
{% if domain == "127.0.0.1:8000" %} {{ protocol }}://{{ domain }}{% url "users:email-verification-complete" uidb64=uid token=token %} {% else %}
{{ protocol }}://ones.ccmb.med.umich.edu{% url "users:email-verification-complete" uidb64=uid token=token %} {% endif %}

{% endblock reset_link %}

Your username, in case you've forgotten: {{ user.email }}

Thanks for using our site!

The {{ site_name }} team.

{% endautoescape %}
