{% load util_custom_tags %}
{% load user_custom_tags %}
{% load tag_custom_tags %}
{% load staticfiles %}
{% load humanize %}

<table class="post-container">
  <tr> <td colspan='2' class="post-action">
  {{report.created}}&nbsp;&nbsp; 
  {% ifequal report.get_status_display 'open' %}
          <a href='{% url "meta:report-edit" report.id %}'>&lt;edit&gt;</a>
          <a href='#id_content'> &lt;comment&gt;</a>
  {% endifequal %}
  </td></tr>
  <tr>
  <td class="vote-box">
    {% display_vote_widget report user%}
  </td>
  <td class="post-body">
    <p> {{ report.current_revision.get_marked_up_content|safe }} </p>
    <div class="clearfix post-authorship">
      <div class="pull-right post-edition">
      {% ifnotequal report.current_revision.revision_number 1 %}
        <div class="post-body-author">
        <div> <small> modified 
          {{report.current_revision.modified_date|naturaltime}}</a> </small></div>
          {% display_user_md report.current_revision.author.user_profile 'location' %}
         </div>
        {% endifnotequal %}
        <div class="post-body-author">
        <div><small> posted
       {{report.created|naturaltime}} </small></div>
         {% display_user_md report.author.user_profile 'location' %}
    </div>
</div>
</div>
</td>
</table>