{% load util_custom_tags %}
{% load tag_custom_tags %}
{% load humanize %}
<div class="post-tab">
  <div class="post-count-box">
    <div class="post-tab-vote">
    <div>{{report.get_vote_count}} </div> 
        <span> vote{%if report.get_vote_count > 1 %}s{%endif%} </span>
    </div>
    <div class="post-tab-reply">
    <div>{{report.get_comment_count}} </div> 
    <span>repl{%if post.reply_count > 1 %}ies{%else%}y{%endif%}</span>
    </div>
    <div class="post-tab-views">
    <div>{{report.view_count}} </div> 
    <span>view{%if post.view_count > 1 %}s{%endif%}</span>
    </div>
  </div>
  <div class="post-tab-detail">
    <div class="post-tab-title">
       <a href= "{% url 'meta:report-detail' report.id %}" >{{ report.title }} </a> 
          <!--  {{report.current_revision.content|truncatechars:150}} -->

    </div>
        <div class="post-created">
    {{report.created|naturaltime}} <a href="{%url 'users:profile-view' report.author.user_profile.id%}">{{report.author.user_profile.name}}</a>
    </div>
  </div>
</div>
