{% load util_custom_tags %}
{% load tag_custom_tags %}
{% load humanize %}
{% load staticfiles %}

<div class="post-container">
  <div class="vote-box">
    {% display_vote_widget post user%}
    {% if is_question %}
    {% display_bookmark_widget post user%}
    {% endif %}
  </div>
  <div class="post-body">
  <div class="post-action">
        {% if is_question %}
          <a href='{% url "posts:mainpost-edit" post.id %}'>edit</a> 
        {% else %}
          <a href='{% url "posts:replypost-edit" post.id %}'>edit</a> 
        {% endif %}
          
      </div>
    <p> {{ post.current_revision.get_marked_up_content|safe }} </p>
    <!-- display the tag list -->
    {% if is_question %}
    {% display_tag_list post.tags.all %}
    {% endif %}
    <div class="clearfix post-authorship">

      <div class="pull-right post-edition">
        
        {% ifnotequal post.current_revision.revision_number 1 %}
        <div class="post-body-author">
        <div> <small> modified 
        {% if is_question %}
          <a href="{% url 'posts:mainpost-revhistory' post.id %}">
        {% else %}
          <a href="{% url 'posts:replypost-revhistory' post.id %}">
        {% endif %}
          {{post.current_revision.modified_date|naturaltime}}</a> </small></div>
          <div class="profile-tab-info">
<a  href="{% url 'users:profile-view' post.current_revision.author.user_profile.id %}"> 
<img class="profile-img-small" src='
{% if post.current_revision.author.user_profile.portrait %} {{post.current_revision.author.user_profile.portrait.url}} 
{% else %} {%static "images/user_default.png"%} 
{% endif %}'></a>
</div>
<div class="profile-tab-info">
<a href="{% url 'users:profile-view' post.current_revision.author.user_profile.id %}"> {{post.current_revision.author.user_profile.name}} </a> <br>
&#149;&nbsp;<strong>{{post.current_revision.author.user_profile.reputation}} </strong><br>
{{post.current_revision.author.user_profile.location}}
</div>

               </div>
        {% endifnotequal %}
     
        <div class="post-body-author">
        <div><small> {% if is_question %}asked {% else %}answered{% endif %}
       {{post.created|naturaltime}} </small></div>
       <div class="profile-tab-info">
<a  href="{% url 'users:profile-view' post.author.user_profile.id %}"> 
<img class="profile-img-small" src='
{% if post.author.user_profile.portrait %} {{post.author.user_profile.portrait.url}} 
{% else %} {%static "images/user_default.png"%} 
{% endif %}'></a>
</div>
    <div class="profile-tab-info">
<a href="{% url 'users:profile-view' post.author.user_profile.id %}"> {{post.author.user_profile.name}} </a> <br>
&#149;&nbsp;<strong>{{post.author.user_profile.reputation}} </strong><br>
{{post.author.user_profile.location}}
    </div>
       
       </div>
      </div>
            
    </div>
    
  </div>
</div>

