{% load util_custom_tags %}
{% load tag_custom_tags %}
{% load humanize %}
<table class="post-tab-sm col-sm-12">
<tr>
  <td  nowrap class="post-count-box-sm">
    <span title="{{post.get_vote_count}} vote{% if post.get_vote_count > 1%}s{% endif %}" class="post-tab-vote-sm">
    {{post.get_vote_count}}
    </span>
    <span title="{{post.reply_count}} {% if post.reply_count > 1%}replies{% else %}reply{% endif %}" class="post-tab-reply-sm {% if post.accepted_answer != null%}post-tab-reply-accepted{% endif %}">
    {{post.reply_count}} 
    </span>
    <span title="{{post.view_count}} view{% if post.view_count > 1%}s{% endif %}" class="post-tab-view-sm">
    {{post.view_count}}
    </span>
  </td>
  <td>
    <a class="post-tab-title-sm" href= "{% url 'posts:post-detail' post.id %}" >{{ post.title }} </a>
     
  </td>
  </tr>
</table>
