{% load util_custom_tags %}
{% load tag_custom_tags %}
{% load humanize %}
<div class="post-tab">
  <div class="post-count-box">
    <div class="post-tab-vote">
    <div>{{post.get_vote_count}} </div> 
    <span> vote{%if post.get_vote_count > 1 %}s{%endif%} </span>
    </div>
    <div class="post-tab-reply {% if post.accepted_answer != null%}post-tab-reply-accepted{% endif %}">
    <div>{{post.reply_count}} </div> 
    <span>repl{%if post.reply_count > 1 %}ies{%else%}y{%endif%}</span>
    </div>
    <div class="post-tab-views">
    <div>{{post.view_count}} </div> 
    <span>view{%if post.view_count > 1 %}s{%endif%}</span>
    </div>
  </div>
  <div class="post-tab-detail">
    <div class="post-tab-title">
       &lt;{{post.get_type_display}}&gt; <a href= "{% url 'posts:post-detail' post.id %}" >{{ post.title }} </a> 
<!--      {{post.current_revision.content|truncatechars:150}} -->
    </div>
    <div>
    <div class="post-tab-tags">
    {% display_tag_list post.tags.all %} &nbsp;
    </div>
    <div class="post-created">
     active {{post.last_modified|naturaltime}};
    created {{post.created|naturaltime}} by <a href="{%url 'users:profile-view' post.author.user_profile.id%}">{{post.author.user_profile.name}}</a>
    </div>
    </div>
  </div>
</div>
