{% load util_custom_tags %}
{% load tag_custom_tags %}
{% load humanize %}
<div class="post-tab">
  <div class="post-count-box">
    <div class="post-tab-vote">
    <h3>{{post.get_vote_count}} </h3> 
    vote{%if post.get_vote_count > 1 %}s{%endif%}
    </div>
    <div class="post-tab-reply {% if post.accepted_answer != null%}post-tab-reply-accepted{% endif %}">
    <h3>{{post.reply_count}} </h3> 
    repl{%if post.reply_count > 1 %}ies{%else%}y{%endif%} 
    </div>
    <div class="post-tab-views">
    <h3>{{post.view_count}} </h3> 
    view{%if post.view_count > 1 %}s{%endif%} 
    </div>
  </div>
  <div class="post-tab-detail">
    <div>
      <h4> <a href= "{% url 'posts:post-detail' post.id %}" >{{ post.title }} </a> </h4>
      {{post.current_revision.content|truncatechars:150}}
    </div>
    <div>
    <div class="post-tab-tags">
    {% display_tag_list post.tags.all %}

    </div>
    <div class="post-created">
     active {{post.last_modified|naturaltime}} <br>
    asked {{post.created|naturaltime}} by <a href="{%url 'users:profile-view' post.author.user_profile.id%}">{{post.author.user_profile.name}}</a>
    </div>
    </div>
  </div>
</div>
