{% load util_custom_tags %}
{% load tag_custom_tags %}
{% load humanize %}

<div class="post-container">
  <div class="vote-box">
    {% display_vote_widget post user%}
  </div>
  <div class="post-body">
    <p> {{ post.current_revision.content }} </p>
    <!-- display the tag list -->
    {% if is_question %}
    {% display_tag_list post.tags.all %}
    {% endif %}
    <div class="clearfix post-authorship">
      <div class="post-action">
        {% if is_question %}
          <a href='{% url "posts:mainpost-edit" post.id %}'>edit</a>
        {% else %}
          <a href='{% url "posts:replypost-edit" post.id %}'>edit</a>
        {% endif %}
          | <a href="{% url 'comment-new' comment_on="replyposts" pk=post.id %}">comment</a>
      </div>
      <div class="pull-right post-edition">
          <p> {% if is_question %}asked {% else %}answered{% endif %}
       {{post.created|naturaltime}} by <a href="{% url 'users:profile-view' post.author.user_profile.id %}"> {{post.author.username}} </a> </p>
      </div>
    </div>
    {% if post.get_comments.count > 0 %}
    <table class="table table-hover comments-all">
      {% for comment in post.get_comments %}
      <tr class="comments-short"> 
        <td class="comment-vote-count"> 0 </td>
        <td class="comment-text"> {{comment.content}} &nbsp;&mdash; <a href="{% url 'users:profile-view' comment.author.user_profile.id %}"> {{post.author.username}}</a>  {{comment.last_modified|naturaltime}} </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>

</div>

