{% extends 'software/software_base.html' %}

{% load software_custom_tags %}

{% block content %}
<h1> Software <small> x{{software_list.count}} </small></h1>

{% if user.is_authenticated %}
<a class="btn btn-default" href="{% url 'software:software-new' %}"> Submit new tools </a>
{% else %}
<a class="btn btn-default btn-xs" href="{% url 'users:login' %}?next={{request.path}}"> log in </a> to submit new software. 
{% endif %}
<hr>
<div >
{% if software_list %}
{% for software in software_list %}

{% display_software_tab software %}
{% endfor %}

{% else %}
<p> no software available </p>
{% endif %}
    <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

</div>
{% endblock content %}
