{% extends 'software/software_base.html' %}

{% load staticfiles %}
{% load post_custom_tags %}
{% load tag_custom_tags %}
{% load util_custom_tags %}


{% block content %}
{% if not tool.page.wiki_tag%}
<p class="alert alert-warning"> This software entry is not complete yet. Please <a  href="{% url 'tags:tag-create' "" %}?next={% url 'software:software-detail' tool.name%}">create a tag</a> for this software.</p>
{% endif %}
<h2>{{tool.name}}  <small> {% if tool.page.wiki_tag %}&lt;<a title="go to tag page" href="{% url 'tags:tag-detail' tool.page.wiki_tag.name %}?tab=Summary">tag</a>&gt; {% endif %}
</small> <a class="btn btn-xs btn-default" href="{% url 'software:software-edit' tool.name%}">Edit</a></h2>
<hr>
  <div class="vote-box">
    {% display_vote_widget tool user%}
    {% if tool.page.wiki_tag %}
    {% display_bookmark_widget tool.page user%}
    {% endif %}
  </div>
<div>
    {% display_tag_list tool.page.tags.all %} 
</div>
<!-- software information: -->
{{tool.page.get_lead_section|safe}}

 <a title="software wiki" href= "{% url 'wiki:wiki-detail' tool.page.get_title %}"> [More...]</a>
<br><br><br><br>
<h3> Basic Info</h3>
<div class="row">
  <div class="col-xs-12 col-sm-6 thumbnail pull-right">
    <!-- slide show of the software -->
    {% if tool.image %}
    <img src =" {{tool.image.url}}">
    {% endif %}
    </div>
  <div class="col-xs-12 col-sm-6">
<table class="table table-hover software-table"> 
  <tr> <td> URL</td> <td> <a href="{{tool.url}}"> {{tool.url}}</a> </td></tr>
  <tr> <td> Article</td> <td> {{tool.citation}}</td></tr>
  <tr> <td> Programing Language</td> <td> {{tool.language}}</td></tr>
  <tr> <td> Operating System</td> <td> {{tool.OS}}</td></tr>
  <tr> <td> author </td> <td> {{tool.author_name}}</td></tr>
  <tr> <td> affiliation</td> <td> {{tool.author_affiliation}}</td></tr>
  <tr> <td> prefered contacts</td> <td> {{tool.author_contacts}}</td></tr>
  <tr> <td> First Release Date </td> <td> {{tool.first_release_date}}</td></tr>
  <tr> <td> Latest Release Date </td> <td> {{tool.latest_release_date}}</td></tr>
</table>
  </div>
</div>
{% if tool.page.wiki_tag %}
<div class="row">
  <div class="section-tab col-xs-12 col-sm-6">
  <h3> <a href="{% url 'tags:tag-detail' tool.page.wiki_tag.name %}?tab=Questions">{{tool.page.wiki_tag.questions.count }} question{% if tool.page.wiki_tag.questions.count > 1 %}s{% endif %}</a></h3>
 
    {% for question in tool.page.wiki_tag.questions %}
      {% show_post_tab_sm question %}
    {% endfor %}
  </div>
    <div class="section-tab col-xs-12 col-sm-6">
  <h3> <a href="{% url 'tags:tag-detail' tool.page.wiki_tag.name %}?tab=Discussions">{{tool.page.wiki_tag.discussions.count }} discussion{% if tool.page.wiki_tag.discussions.count > 1 %}s{% endif %}</a></h3>
    {% for discussion in tool.page.wiki_tag.discussions %}
      {% show_post_tab_sm discussion %}
    {% endfor %}
  </div>
  <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

    <div class="section-tab col-xs-12 col-sm-6">
  <h3> <a href="{% url 'tags:tag-detail' tool.page.wiki_tag.name %}?tab=Blogs">{{tool.page.wiki_tag.blogs.count }} blog{% if tool.page.wiki_tag.blogs.count > 1 %}s{% endif %}</a></h3>
    {% for blog in tool.page.wiki_tag.blogs %}
      {% show_post_tab_sm blog %}
    {% endfor %}
  </div>
  <div class="section-tab col-sm-6">
    <h3> <a href="{% url 'tags:tag-detail' tool.page.wiki_tag.name %}?tab=Contributors">{{usertag_list.count}} user{% if usertag_list.count > 1%}s{% endif %} </a></h3>
    <ul class="list-unstyled" >
    {% for user_tag in usertag_list %}
        {% user_answers_for_tag user_tag %}
    {% endfor %}
    </ul>
    </div>
  </div>
  {% endif %}
  <hr>
{% endblock content %}

{% block jquery %}
  <script src="{% static 'jquery/vote_widget.js' %}"> </script>
{% endblock jquery %}