*{
  margin:0;
  padding:0;
}

h2,p{
  font-size:100%;
  font-weight:normal;
}
ul.notes,li{
  list-style:none;
}
ul.notes.notes{
  overflow:hidden;
  padding:1em;
}
ul.notes li a.class1{
  text-decoration:none;
  color:#000;
  background:white;
  display:block;
  height:10em;
  width:13em;
  padding:0.5em;
  border: 1px solid;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
}
ul.notes li{
  margin:0.5em;
  float:left;
}


ul.notes a.class1:hover + li
{
    display: block;
    background-color: blue;
}